body{
    background: url("../images/bg.jpg");
}

#container{
    width:1024px;
    margin: 0 auto 20px;
    padding:0 20px ;
    min-height: 100%;
}

#main-wrapper{
    border: 3px solid #ccc;
    background: #f5f5f5;
    /* background: -webkit-linear-gradient(top, #f8f8f8 0, #fff 100%); */
    /* background: -moz-linear-gradient(top, #f8f8f8 0, #fff 100%); */
    /* background: -ms-linear-gradient(top, #f8f8f8 0, #fff 100%); */
    /* background: -o-linear-gradient(top, #f8f8f8 0, #fff 100%); */
    /* background: linear-gradient(top, #f8f8f8 0, #fff 100%); */
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 5px silver;
}

#topbar{
    line-height: 40px;
    color: gray;
}

#topbar a{
    color: gray;
    text-decoration: underline;
}

#topbar a:hover{
    color: #222;
}

#topbar #brand{
    font-size: 1.5em;
    margin-right:1em;
    color: #333;
    text-shadow: 0 0 3px silver;
    letter-spacing: 2px;
    text-decoration: none !important;
}

#topbar #brand:hover{
    color: #333;
    text-shadow: 0 0 5px #eee;
}    

ul.inline-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.inline-list>li{
    display: inline-block;
    margin-right: 1em;
    /* line-height:40px; */
}

.scrollbar{
    /* overflow: auto; */
}

.scrollbaring{
    /* overflow: auto; */
}

#userfav{
    height:158px;
    font-size: 12px;
}

#userfav li{
    padding: 0 10px;
}    

#favbox{
    height: 118px;
}

#footer{
    font-size: 12px;
    color: #999;
}

#footer a{
    color: #777;
}

.top28p{
    margin-top: 28%;
}

.top15p{
    margin-top: 15%;
}

.top8p{
    margin-top: 8%;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.form-center{
    padding:1em;
    color: #777;
}

.fix-margin-right{
    margin-right: -4px;
}

.poem{
    font-size: 12px;
    color: #551616;
    /* text-shadow: 0 1px 3px silver; */
}

.poem em{
    color: #772222;
    text-shadow: 0 1px 3px gray;
    /* text-decoration: underline; */
}

#message{
    position:fixed;
    top:38%;
    left:30.9%;
    width:38.2%;
    margin:0 auto;
    padding:1em 2em;
    text-align:center;
    margin-left:-50px;
    border-radius:5px;
    background-color: #d9edf7;
    box-shadow:0 2px 2px #ccc;
    color: #3a87ad;
    border: 1px solid #bce8f1;
    opacity:.9;
}

.message-success{   
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    color: #468847 !important;
}

.message-danger{
    background-color: #f2dede !important;
    border-color: #eed3d7 !important;
    color: #b94a48 !important;
}

.message-wranning{
    border-color:#fbeed5 !important;
    background-color: #fcf8e3 !important;
    color: #c09853 !important;
}

.small-font{
    font-size: 12px;
    line-height: 15px;
}

.big-font{
    font-size: 1.2em;
    font-weight: bold;
}

.light-font{
    color: #222;
    font-size: 12px;
    line-height: 25px;
    text-shadow: 0 0 4px #fff;
}

.fade-font{
    color: #999;
}

.absolute-fluid{
    width: 100%;
    position: absolute;
}

/*
  Board
  ~~~~~
  */

.fluid-table{
    width:100%;
    font-size: 12px;
}

.fluid-table td{
    padding-top: 4px;
    padding-bottom: 3px;
    vertical-align: middle;    
}    

.tb-title{
    width: auto;
}

.tb-user{
    width: 90px;
    font-size: 12px;
    text-align:left;
    padding-left:1em;
}

.tb-time{
    color: #999;
    width: 100px;
    /* text-align:right; */
    /* padding-right: 1em; */
}

.tb-img{
    width: 30px;
    padding-right: 5px;
}

.tb-grid1{
    width: 72px;
}

.tb-user a{
    color : #349985;
}

.fluid-table tr:nth-child(even){
    background:#f0f0f0;
}

i.read{
    width:14px;
    height:16px;
    line-height:14px;
    vertical-align:middle;
    background-image: url('../img/read.png');
    background-repeat: no-repeat;
    margin-top: 1px;
    display:inline-block;
}

i.unread{
    width:14px;
    height:16px;
    line-height:14px;
    vertical-align:middle;
    background-image: url('../img/unread.png');
    background-repeat: no-repeat;
    margin-top: 1px;
    display:inline-block;
}

li.unread{
    font-weight: bold;
}

.over-hidden{
    overflow:hidden;
}

.content-wrapper{
    padding: 0 1em;
    position:relative;
}

.text{
    padding: 1em;
}

.mCSB_dark .mCSB_scrollTools .mCSB_draggerRail{
	background:rgba(160,160,160,0.75);
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_dark .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:rgba(30,30,30,0.3);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_dark .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(35,35,35,0.35);
	filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
}
.mCSB_dark .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_dark .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:rgba(0,0,0,0.4);
	filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}

.page-btn{
    color: #4a7;
    border: 1px solid transparent;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;    
    -webkit-user-select: none;    
    -ms-user-select: none;    
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.page-btn a{
    padding: 3px 1em;
    display:block;
    color: #4a7;
    cursor: pointer;
}

.page-btn:hover{
    background:#eee;
}
    
.selected:after{
    border: 1px solid orange;
}

/*
  cell
  */

.cell{
    background: #fcfcfc;
    background: -webkit-linear-gradient(left,#f9f9f9 0, #fcfcfc 100%);
    background: -moz-linear-gradient(left,#f9f9f9 0, #fcfcfc 100%);
    background: -ms-linear-gradient(left,#f9f9f9 0, #fcfcfc 100%);
    background: -o-linear-gradient(left,#f9f9f9 0, #fcfcfc 100%);
    background: linear-gradient(left,#f9f9f9 0, #fcfcfc 100%);
    position:relative;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #e0e0e0;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.cell-in{
    margin-left: 25px;
    margin-right: 25px;
}

.cell-content.cell-content-padding{
    padding: 10px;
}

.cell-header{
    /* background: -webkit-linear-gradient(top,#eee 0, #c9c9c9 100%); */
    color: #777;
    border-bottom: 1px solid #fff;
    margin-bottom: 8px;
    text-align: center;
}    

.cell-header h3{
    font-size: 12px;
    line-height: 15px;
    padding: 5px 0;
    margin: 0;
    border-bottom: 1px solid #bbb;
    text-shadow: 0 1px 2px #fff;
}

/*
  Section
  */

.board-group{
    position:relative;
    color: #555;
    border-bottom: 1px dashed #ccc;
    padding: 5px;
    font-size: 12px;
}

.board-group-head{
    width: 80px;
    display: table-cell;
    text-align:center;
    /* padding-right: 1em; */
    vertical-align: middle;
}

.board-group-head h4{
    font-size: 1em;
    line-height: 1.5em;
    font-weight: normal;
    margin: .5em 1em;
}

.board-group-content{
    /* width: 85%; */
    display: table-cell;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.board-group-content li{
    display: inline-block;
    margin: 0 .5em;
}

.board-group-content ul{
    margin: .5em 1em .5em 0;
}

.text-right-align{
    text-align: right;
}

.topten-title{
    font-size: 12px;
    line-height: 30px;
    padding-left: 1em;
}

.table-topten{
    width: 100%;
}

.odd-even tr:nth-child(even){
    background:#eee;
}

.metainfo{
    color: #888;
    line-height: 17px;
}

.metainfo .meta-board a{
    color: #666;
    font-weight: bold;
    text-shadow: 0 0 1px #fff;
}

.t10-number{
    font-size: 9px;
    display: block;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0, #777 100%);
    background: -moz-linear-gradient(top, #bbb 0, #777 100%);
    background: -ms-linear-gradient(top, #bbb 0, #777 100%);
    background: -o-linear-gradient(top, #bbb 0, #777 100%);
    background: linear-gradient(top, #bbb 0, #777 100%);
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 15px;
    line-height: 1.5em;
    border: 1px solid #bbb;
    border-bottom: 2px solid #bbb;
    box-shadow: 0 0 1px solid #777;
    border-radius: 3px;
    margin-left: 1em;
}

.t10-0,.t10-1,.t10-2{
    background: #e44;
    background: -webkit-linear-gradient(top, #e44 0, #f62 100%);
    background: -moz-linear-gradient(top, #e44 0, #f62 100%);
    background: -ms-linear-gradient(top, #e44 0, #f62 100%);
    background: -o-linear-gradient(top, #e44 0, #f62 100%);
    background: linear-gradient(top, #e44 0, #f62 100%);
    border: 1px solid #f62;
    border-bottom: 2px solid #fa0;
}

.align-bottom{
    position: relative;
}

.align-bottom>div{
    position: absolute;
    bottom: -1em;
}

.tb-align-bottom{
    vertical-align: bottom;
}

.tb-align-mid{
    vertical-align: middle;
}

.padding-side{
    padding: 0 2em;
}

.padding-bottom{
    padding-bottom: 2em;
}

.frame-header-inner{
    border-bottom: 2px solid #DDD;
}

.frame-header{
    border-bottom: 2px solid #fff;
    margin-bottom: 30px;
    /* background: url("../images/bgt.jpg"); */
}

.frame-header-inner{
    padding-bottom: 1em;
}

#btn-back{
    position:fixed;
    bottom:2em;
    margin-left: -60px;
    border: 1px solid #47a;
}

#btn-back a{
    display: block;
    font-size: 11px;
    width: 42px;
    text-align: center;
    text-decoration: none;
}

#btn-back a:hover{
    box-shadow: 0 0 3px #47a;
}

.btn-posts-table{
    display: block;
    cursor: pointer;
    text-align: center;
    background: #cecece;
}

.mcolor{
    color: #aaa;
    background: #fff;
}

.fcolor{
    background: #aaa;
    color: #fff;
}

.vert-list li{
    margin-top: 10px;
}

.widget-header{
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
}

.widget-header h4{
    color: #666;
    font-size: 1em;
    line-height: 28px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #999;
    padding: 0;
    margin: 0;
}

.widgets{
    position:relative;
    padding-top: 10px;
}

.widget{
    position:relative;
    margin-bottom: 20px;
}

.widget-padding{
    padding: 1em;
}

.img-big{
    width: 72px;
    height: 72px;
}

.img-mid{
    width: 48px;
    height: 48px;
}

.img-small{
    width: 24px;
    height: 24px;
}

.avatar{
    position:relative;
    padding-left: 1em;
    margin-bottom: 10px;
}

.avatar>img{
    position: absolute;
    width: 48px;
    height:48px;
    border-bottom: 2px solid #bbb;
}

.avatar-big>img{
    width: 72px;
    height: 72px;
}

.avatar-small>img{
    width: 24px;
    height: 24px;
}

.avatar .avatar-content{
    position: relative;
    margin-left: 60px;
    min-height: 48px;
    padding-top: 5px;
}

.avatar-big .avatar-content{
    margin-left: 80px;
    min-height: 72px;
}

.avatar-small .avatar-content{
    margin-left: 30px;
    min-height: 24px;
}

.avatar .big-font{
    text-shadow: 0 0 3px #eee;
}

/* .page-img:after{ */
/*     content: ""; */
/*     display: block; */
/*     border-left: 10px solid transparent; */
/*     border-right: 10px solid transparent; */
/*     border-top: 5px solid #e0e0e0; */
/*     z-index: 200; */
/* } */

/* .page-img:before{ */
/*     content: ""; */
/*     display: block; */
/*     border-left: 10px solid transparent; */
/*     border-right: 10px solid transparent; */
/*     border-bottom: 3px solid #eee; */
/*     z-index: 200; */
/* }     */

.page-img{
    margin: 5px 20px 20px 20px;
}

.page-img .carousel{
    margin-bottom: 0;
}

.page-img img{
    border-radius: 4px;
}

.page-img .carousel-caption{
    border-radius: 4px;
}

.selectable{
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.selectable:hover{
    border-left: 2px solid orange !important;
    border-right: 2px solid orange !important;
}

#maillist-wrapper{
    height:180px;
    padding-left: 10px;
    /* border-bottom: 1px solid #aaa; */
    margin-bottom : 20px;
    padding-bottom: 10px;
}

a[data-submit],
button[data-submit]{
    cursor: pointer;
}

.replied{
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.padding1em{
    padding: 1em;
}

.top2em{
    margin-top: 2em;
}

.inverse{
    background: #f0f0f0;
    /* background: -webkit-linear-gradient(top,#f0f0f0 0, #eee 100%); */
    /* background: -moz-linear-gradient(top,#f0f0f0 0, #eee 100%); */
    /* background: -ms-linear-gradient(top,#f0f0f0 0, #eee 100%); */
    /* background: -o-linear-gradient(top,#f0f0f0 0, #eee 100%); */
    /* background: linear-gradient(top,#f0f0f0 0, #eee 100%); */
}

.nomargin{
    margin: 0;
}

#colophon{
    border-top: 1px solid #f0f0f0;
    background: #aaa;
    background: -webkit-linear-gradient(top,#aaa 0, #a0a0a0 100%);
    background: -moz-linear-gradient(top,#aaa 0, #a0a0a0 100%);
    background: -ms-linear-gradient(top,#aaa 0, #a0a0a0 100%);
    background: -o-linear-gradient(top,#aaa 0, #a0a0a0 100%);
    background: linear-gradient(top,#aaa 0, #a0a0a0 100%);
    font-size: 12px;
}

#colophon-inner{
    border-top: 10px solid #ddd;
    padding: 1em 2em;
    color: #e0e0e0;
    text-align: center;
}

#colophon-inner a{
    color: #f4f4f4;
}

#colophon-inner p{
    margin: 0;
}

.btn-widget{
    background: transparent;
    border: 0;
    float:right;
    opacity: 0.3;
    height: 28px;
}

.btn-widget:hover{
    opacity: .55;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(0deg);
  }
  to { 
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg);
  }
  to { 
    -o-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

.refreshing,
i.icon-refreshing
{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         3s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
    -moz-animation-name:             rotate; 
    -moz-animation-duration:         3s; 
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function:  linear;
    -ms-animation-name:             rotate; 
    -ms-animation-duration:         3s; 
    -ms-animation-iteration-count:  infinite;
    -ms-animation-timing-function:  linear;    
    -o-animation-name:             rotate; 
    -o-animation-duration:         3s; 
    -o-animation-iteration-count:  infinite;
    -o-animation-timing-function:  linear;
    animation-name:             rotate; 
    animation-duration:         3s; 
    animation-iteration-count:  infinite;
    animation-timing-function:  linear;
}

i.icon-refreshing{
    background-position: -240px -24px;
}    

.hint-empty{
    font-size: 1.2em;
    color: #aaa;
    padding: 1em;
}

#postlistbox{
    min-height: 400px;
}

.vpagination{
    position:absolute;
    height:100%;
    top: 0;
    right:-12px;
    border:1px solid #bbb;
    border-radius:1px solid #c0c0c0;
    width:10px;
}    

.vpagination a{
    display: block;
    position: relative;
}

.vpagination a:hover{
    box-shadow: 0 0 7px #47a;
}

.vpagination a.disabled{
    opacity: .25;
}

.vpagination a.disabled:hover{
    cursor: default;
}

.vpagination i{
    height:12px;
    width:8px;
    display:inline-block;
    position:absolute;
    top:50%;
    margin:-6px auto auto 1px;
}    

.vpagination input{
    position: absolute;
    top: 0;
    right: 20px;
    width: 180px;
    line-height: 18px;
    height: 20px;
    padding: 0;
    border: none;
    /* border-radius: 0; */
    background: transparent;
    /* box-shadow: none; */
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.vpagination .first{
    height:5%;
}

.vpagination .previous{
    height:45%;
}

.vpagination .next{
    height:45%;
}

.vpagination .last{
    height:5%;
}

.arrow-up-bar{
    background-image:url("../img/arrow-up-bar.gif");
}

.arrow-down-bar{
    background-image:url("../img/arrow-down-bar.gif");
}
.arrow-up{
    background-image:url("../img/arrow-up.gif");
}
.arrow-down{
    background-image:url("../img/arrow-down.gif");
}

i[class^="icon-mark-"]:after,
i[class*=" icon-mark-"]:after {
    width: 10px;
    line-height: 16px;
    margin-top: -2px;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 3px #eee;
    vertical-align: text-top;
    font-style: normal;
}

.icon-mark-g:after{
    background: #b22;
    content: "g";
}

.icon-mark-m:after{
    background: #47a;
    content: "m";
}

.inline{
    display: inline-block;
}

.blur{
    opacity: .15;
}
    
.postquote-content{
    color:#777;
    padding-left: 1em;
}

.postquote-header{
    color: #4a7;
}

.post-header{
    padding: 1em 2em;
    border-bottom: 1px solid #eee;
}

.post-header h3{
    font-size: 16px;
    line-height: 28px;
    /* font-weight: normal; */
    /* text-shadow: 0 0 2px silver; */
    padding-top: 5px;
    margin: 0;
}

.post-info{
    padding-bottom: 2px;
}

.post-wrapper{
    margin: 1em 1em 3em 1em;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 0 3px #ccc;
    position: relative;
    border-radius: 3px;
}

.post-wrapper>img{
    right: 2em;
    top: 20px;
}

.post-content{
    padding: 2em 3em;
}

.post-signature{
    border-top: 1px dashed #474;
    margin-top: 10px;
    padding-top: 10px;
}

.post-toolbar{
    background: #f5f5f5;
    background: -webkit-linear-gradient(top,#fcfcfc 0, #f5f5f5 100%);
    background: -moz-linear-gradient(top,#fcfcfc 0, #f5f5f5 100%);
    background: -ms-linear-gradient(top,#fcfcfc 0, #f5f5f5 100%);
    background: -o-linear-gradient(top,#fcfcfc 0, #f5f5f5 100%);
    background: linear-gradient(top,#fcfcfc 0, #f5f5f5 100%);
    box-shadow: 0 0 1px #ccc;
    border-top: 1px solid #ccc;
    padding: 0 1em;
    margin-top: 30px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 12px;
    line-height: 25px;
}

.withborderbottom{
    border-bottom: 1px solid #fff;
}

.withborderbottom>div{
    padding-bottom : 1em;
    border-bottom: 1px solid #ccc;
}

.hover-li{
    border-left: 2px solid orange;
    margin-left: -2px;
}

#pop-window{
    max-height: 100%;
    position: fixed;
    width: 660px;
    left: 50%;
    box-shadow : 0 0 8px silver;
    bottom: 0;
    margin-left: -330px;
    background: #f8f8f8;
    overflow: auto;
}

#pop-content{
    /* margin-top: 1em; */
    padding: 0 2em;
}

#pop-title{
    color: #666;
    text-align: center;
}    

#pop-title h3{
    font-size: 14px;
    line-height: 20px;
    margin: 1em;
    text-shadow: 0 1px 2px #fff;
}

.editor{
    font-size: 12px;
}

.editor input{
    font-size: 14px;
}
.editor textarea{
    font-size: 14px;
    line-height: 17px;
}
    
.editor input,
.editor textarea{
    border: 0;
    /* margin: 0; */
    padding-left: 10px;
    border-radius: 0;
    border: 1px solid #ccc;
    /* margin-top: -2px; */
}

#pop-bar{
    /* background: #eee; */
    border-top: 1px solid #ccc;
    /* margin: 0; */
    padding: 8px 25px;
}

.btn-v{
    background: transparent;
    border: none;
    /* border: 1px solid #ccc; */
}

.item-attach{
    display: inline-block;
    background: url(../images/icons.png) 0px -97px no-repeat;
    width: 22px;
    height: 22px;
    vertical-align: middle;    
}

.close.pull-right{
    margin-right: 1em;
    margin-top: 10px;
}

.page-container{
    margin: 0 2em;
}

.quick-btn{
    position: absolute;
    bottom: 0;
    left : 490px;
}

.page-content{
    padding: 1em 2em;
    font-size: 13px;
    background: #fff;
}

.page-thin{
    padding-right: 150px;
}

.post-toolbar>p.pull-left{
    line-height: 25px;
}

/* telnet format */
.c1{
    font-size: 14px;
}
.c30{
color:#808080;
}
.c31{
color:#f00;
}
.c32{
color:#02b82d;
}
.c33{
color:#e9aa00;
}
.c34{
color:#00f;
}
.c35{
color:#f0f;
}
.c36{
color:#009cff;
}
.c37{
color:#000;
}

.frame-board #main-wrapper{
    /* margin: 0 1em; */
    padding: 0;
}

#board-header{
    border-top: 2px solid #aaa;
    margin-bottom: 10px;
    background: url("../images/bht.jpg");
    box-shadow: 0 1px 4px #ccc;
    height: 128px;
}

.fluid-table th{
    text-align: left;
    padding-left: 1em;
    line-height: 20px;
    background: #eee;
}

th.th-center{
    padding: 0;
    text-align: center;
}

#board-title{
    position: absolute;
    top: 10px;
    color: #eee;
}

#board-title a{
    color: #eee;
    text-decoration: underline;
}

#board-toolbar{
    position: absolute;
    bottom: 24px;
    right: 20px;
}

#board-title .alert{
    padding-right: 20px;
}