html{color:#555;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
body,button,input,select,textarea{font:500 14px/1.8 Lucida,Verdana,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,img{border:0}
img{-ms-interpolation-mode:bicubic}
iframe{display:block}
blockquote{margin:1em 4em 1em 2em;padding:.6em 1em;background:#f1f1f1}
blockquote blockquote{padding:0 0 0 1em;margin-left:2em;border-left:.4em solid #ddd}
acronym,abbr{border-bottom:1px dotted;font-variant:normal}
abbr{cursor:help}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
ul,ol{list-style:none}
caption,th{text-align:left}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:text-top\9}
:root sub,:root sup{vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
a:hover{text-decoration:underline}
ins,a{text-decoration:none}
u{text-decoration:underline}
mark{background:#fffdd1}
pre,code{font-family:"Courier New",Courier,monospace;white-space:pre-wrap;word-wrap:break-word}
pre{border:1px solid #ddd;border-left-width:.4em;background:#fbfbfb;padding:10px}
small{font-size:12px;color:#888}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
p,pre,ul,ol,dl,form,hr,table{margin-bottom:1em}
h1,h2,h3,h4,h5,h6{font-weight:500;font-weight:800\9;color:#333}
h1,h2,h3,h4,h5,h6{margin-bottom:.4em;line-height:1.5}
h1{font-size:1.8em}
h2{font-size:1.6em}
h3{font-size:1.4em}
h4{font-size:1.2em}
h5,h6{font-size:1em}
ul{margin-left:1.3em;list-style:disc}
ol{list-style:decimal;margin-left:1.9em}
table th,table td{border:1px solid #ddd;padding:5px 10px}
table th{background:#fbfbfb}
table thead th{background:#f1f1f1}
.btn{position:relative;cursor:pointer;outline:0;display:inline-block;text-align:center;text-decoration:none;font-family:Arial,Helvetica,sans-serif;line-height:1;font-size:13px;font-weight:normal;padding:6px 16px;border-radius:4px;background-color:#f3f3f3;background-image:-moz-linear-gradient(top,#fff,#e1e1e1);background-image:-ms-linear-gradient(top,#fff,#e1e1e1);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e1e1e1));background-image:-webkit-linear-gradient(top,#fff,#e1e1e1);background-image:-o-linear-gradient(top,#fff,#e1e1e1);background-image:linear-gradient(top,#fff,#e1e1e1);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e1e1e1',GradientType=0);border:1px solid #dadada;border-left:1px solid #d2d2d2;border-right:1px solid #d2d2d2;border-bottom-color:#a9a9a9;box-shadow:0 1px 0 rgba(0,0,0,0.15),inset 0 1px 1px 0 rgba(255,255,255,0.6);text-shadow:0 1px 0 #fff}
.btn,.btn:hover{color:#000}
.btn:hover{filter:none;background:0;background:#eee;text-shadow:0 1px 0 rgba(255,255,255,0.8);text-decoration:none;box-shadow:0 1px 0 rgba(0,0,0,0.15)}
button,input,select,textarea{margin:0}
button{width:auto;overflow:visible}
input[type=button],input[type=submit],button{cursor:pointer}
input[type="radio"],input[type="checkbox"]{position:relative;top:-1px}
input[type="text"],input[type="password"],input[type="email"],textarea{position:relative;z-index:2;font-family:Helvetica,Arial,Tahoma,sans-serif;height:23px;border:1px solid #ccc;margin:0;padding:1px 2px;background-color:white;color:#333;font-size:13px;line-height:1;border-radius:1px;box-shadow:0 1px 2px rgba(0,0,0,0.2) inset;-webkit-transition:border .3s ease-in;-moz-transition:border .3s ease-in;-ms-transition:border .3s ease-in;-o-transition:border .3s ease-in;transition:border .3s ease-in}
textarea{line-height:1.4em}
input:focus,textarea:focus{outline:0;border-color:#5ca9e4;box-shadow:0 0 0 2px rgba(70,161,231,0.3),0 1px 2px rgba(0,0,0,0.2) inset}
a{color:#4F84B9}
a:hover{color:#355e86}

/* Style */

.brand{
    font-size: 1.5em;
    color: #111;
    padding: 14px;
    margin-left: -14px;
    display: block;
    float: left;
}

.brand:hover{
    color: #444;
    text-decoration: none;
}

.topbar{
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.container{
    width: 950px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.navbar-tabs{
    display: block;
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
}

.navbar-tabs:before,
.navbar-tabs:after {
    display: table;
    content: "";
    line-height: 0;
}
.navbar-tabs:after{
    clear: both;
}

.navbar-tabs > li{
    float: left;
}

.navbar-tabs > li > a{
    display: block;
    float: left;
    padding: 19px 1em;
    text-decoration: none;
    margin: 0;
}

.navbar-tabs > li > .active{
    border-bottom: 2px solid #272;
}

#primary{
    width: 38.1%;
    float: left;
}

#second{
    width: 61.8%;
    float: left;
}

.main{
    margin-top: 25px;
}

.nodes{
    list-style-type: none;
    padding: 0 2em;
    margin: 0;
}

.nodes > li{
    float: left;
}

.nodes > li > a{
    display: block;
    float: left;
    margin-right: 1em;
}

.nodes .on a {
    color: #999;
    cursor: default;
}

.nodes .on a:hover{
    text-decoration: none;
}

.nodes .sep{
    float: none;
    padding: .5em;
    clear: both;
    display: block;
    background: #f8f8f8;
    margin: 1em -0.5em 0.5em -0.5em;
}

.nodes .sep.first{
    margin-top: 0;
}

.namelist{
    list-style-type: none;
    margin: 0;
    position: relative;
}

.namelist > li{
    width: 50%;
    float: left;
    border-bottom: 1px dashed #ccc;
    margin-top: 1em;
}

.namelist > li.sep{
    width: 100%;
}

.namelist img{
    width: 48px;
    height: 48px;
    position: absolute;
}

.namelist a{
    display: block;
}

.namelist a:hover{
    text-decoration: none;
}

.namelist strong{
    font-weight: normal;
    font-size: 16px;
}

.namelist-info{
    margin-left: 60px;
    margin-right: 3em;
    height: 50px;
    margin-bottom: 1em;
    overflow: hidden;
}
