<div class="frame-header">
  <div class="frame-header-inner">
    <div class="padding-side">
      <h3>管理</h3>
      <a href="${url_for_root()}"> « 回到首页</a>
    </div>
  </div>
</div>

<div class="padding-side">
  <a target="_blank" href="http://www.jsoneditoronline.org/">! Json Editor Online !</a>
  <div>
    <textarea data-group="www" name="data" rows="20" class="input-block-level">${d}</textarea>
    <div class="form-actions">
      <button data-submit="update-www" data-group="www" type="submit" class="btn btn-danger">保存设置</button>
      <a class="btn" href="${url_for_root()}">回到首页</a>
    </div>
  </div>
</div>
