<div class="cell">
  <h3>管理</h3>
  <a href="${url_for_root('')}"> « 回到首页</a> <br/>
  <a href="http://www.jsoneditoronline.org/" target="_blank"> 打开json编辑器</a>
  <hr/>
  <ul>
    {{each(i, v) desc}}
    <li><a href="#" data-submit="get-target" data-targetname="${v[0]}">${v[1]}</a></li>
    {{/each}}
  </ul>
  <br/>
  <textarea rows="10" id="etc-container"></textarea>
  <div class="form-actions">
    <button class="btn btn-danger" data-submit="update-target">保存该档案</button>
    <a class="btn" href="${url_for_root('')}">回到首页</a>
  </div>
</div>
