<div class="cell main-cell">
  <div class="cell-header">
    <h3>收藏夹</h3>
  </div>
  {{each(i, b) boards}}
  {{if !(b.boardname in $G.userfav) }}
  <div class="boards-pill">
    {{if $G.authed }}    
    <div class="bp-unreadnum-wrapper {{if b.unreadn==-1}}bp-allread{{else}}bp-c-${b.secnum}{{/if}}">
      {{if b.unreadn==-1}}
      <span class="bp-unreadnum-0">=</span>
      {{else}}
      <span class="bp-unreadnum">${Math.min(20, Number(b.unreadn)+1)}+<br/><small>新发言</small></span>      
      {{/if}}
    </div>
    {{else}}
    <div class="bp-unreadnum-wrapper bp-c-${b.secnum}"><span class="bp-unreadnum-0">?</span></div>
    {{/if}}
    <div class="bp-boards-pill-mid">
      <div class="bp-title">
        <span class="bp-boardname"><a href="${url_for_board(b.boardname)}">${b.title}(${b.boardname})</a></span>
        &nbsp;- 版主: 
        <ul class="bp-bm">
          {{each(i, p) b.BM}}
          <li><a href="${url_for_user(p)}">${p}</a></li>
          {{/each}}
        </ul>
      </div>
      <div class="bp-postinfo">
        &nbsp; - <span class="bp-lastpostfile"><a href="${url_for_topic(b.lastfilename, b.boardname)}">${b.lastpostfile}</a></span>
      </div>
    </div>
    <div class="bp-lastupdatetime">
      ${tf_timestamp(b.lastpost)}
    </div>
  </div>
  {{/if}}
  {{/each}}
</div>
  
