<div class="row-fluid">
  <div id="primary" class="span8">
    <div class="row-fluid">
      <div id="main-wrapper">
		<div id="main">
          <div class="cell main-cell">
            <ul class="breadcrumb">
              {{each(i, b) data.bt}}
              {{if i+1 < data.bt.length }}
              <li><a href="${ url_for_ann(data.bc[i]) }">${b}</a> <span class="divider">/</span></li>
              {{else}}
              <li class="active">${b}</li>
              {{/if}}
              {{/each}}
            </ul>
            {{if data.post }}
            <div class="ann-post">
              <div class="ann-content">
                {{html data.post }}
              </div>
              <div class="ann-hint">
                创建： ${data.post_index.owner} &nbsp;
                修改： ${data.post_index.editor} &nbsp;
                最后修改时间： ${data.post_index.mtime} &nbsp;
              </div>
            </div>
            {{else}}
            <table class="ann-table">
              <thead></thead>
              <tbody>
                {{each(i, p) data.dir}}
                <tr>
                  <td class="ann-icon">
                    {{if p.flag == 'd' }}<i class="icon-folder-close"></i>{{else}}<i class="icon-file"></i>{{/if}}
                  </td>
                  <td class="ann-title">
                    <a href="${ url_for_ann(url_prefix + p.filename) }">${p.title}</a>
                  </td>
                  <td class="ann-message">
                    {{if p.editor }}
                    ${p.editor} 在 ${tf_timestamp(p.mtime)} 修改了此档案
                    {{else}}
                    {{if p.owner }}
                    ${p.owner} 在 ${tf_timestam(p.mtime)} 创建了此档案
                    {{/if}}
                    {{/if}}
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>        
  <div id="second" class="span4">
    <div id="metainfo">
      <div class="widget ann-meta">
        {{if data.metainfo.type == 'personal' }}
        <div class="ann-meta-personal">
          <div class="widget-header">
            <h3> ${data.metainfo.author} 的个人文集</h3>
          </div>
          <ul class="nav nav-pills">
            <li>查询TA的资料</li>
            <li>写信给TA</li>
          </ul>
        </div>
        {{/if}}
        {{if data.metainfo.type == 'board' }}
        <div class="ann-meta-board">
          <div class="widget-header">
            <h3> ${data.metainfo.boardname} 版精华区</h3>
          </div>
          <ul class="nav nav-pills">
            <li>回到版块</li>
          </ul>
        </div>
        {{/if}}
        {{if data.metainfo.type == 'raw' }}
        <div class="ann-meta-raw">
          <div class="widget-header">
            <h4> ${data.metainfo.metatitle} </h4>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
    {{if data.post }}
    <div id="dirlist">
      <div class="widget">
        <ul class="ann-list">
          {{each(i, p) data.dir}}
          <li>
            <a class="ann-title" href="${url_for_ann(url_prefix + p.filename)}">${p.title}</a>
            {{if p.flag == 'd' }}<i class="icon-folder-close"></i>{{/if}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    {{/if}}
    <div class="widgets-wrapper">
      <div id="widgets-container" class="widgets">
        <div id="userbox"></div>
        <div id="dy-widgets"></div>
        <div class="widget fade-font">
          © 2012 逸仙时空
          <a target="_blank" href="https://github.com/argolab/jsbbs">jsbbs</a> <a target="_blank" href="http://argolab.org/">argolab</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fix-btns">
  <a id="totop" href="#" onclick="window.scrollTo(0, 0)">返回顶部</a>
</div>
