<div class="main-cell cell-loose">
  <div class="row-fluid">
    <ul class="ann-bc breadcrumb">
      {{each(i, b) data.bt}}
      {{if i+1 < data.bt.length }}
                 <li><a href="${ url_for_ann(data.bc[i]) }">${b}</a> <span class="divider">/</span></li>
                 {{else}}
      <li class="active">${b}</li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
  <div class="row-fluid">  
    <div class="primary span8">
      <h2 class="page-title">${title}</h2>
      {{if data.post }}
      <div class="ann-post">
        <div class="ann-content">
          {{html data.post }}
        </div>
        <div class="ann-hint">
          创建： ${data.post_index.owner} &nbsp;
          修改： ${data.post_index.editor} &nbsp;
          最后修改时间： ${tf_timestamp(data.post_index.mtime)} &nbsp;
        </div>
      </div>
      {{else}}
      <table class="ann-table">
        <thead></thead>
        <tbody>
          {{each(i, p) data.dir}}
          <tr>
            <td class="ann-icon">
              {{if p.flag == 'd' }}<i class="icon-folder-close"></i>{{else}}<i class="icon-file"></i>{{/if}}
            </td>
            <td class="ann-title">
              <a href="${ url_for_annpath(p) }">${p.title}</a>
            </td>
            <td class="ann-message">
              {{if p.editor }}
              ${p.editor} - ${tf_timestamp(p.mtime)} 
              {{else}}
              {{if p.owner }}
              ${p.owner} - ${tf_timestam(p.mtime)} 
              {{/if}}
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}
    </div>
    <div class="aside span4">
      {{if data.post }}
      <div id="dirlist">
        <div>
          <ul class="ann-list">
            {{each(i, p) data.dir}}
            <li>
              <a class="ann-title" href="${url_for_annpath(p)}">${p.title}</a>
              {{if p.flag == 'd' }}<i class="icon-folder-close"></i>{{/if}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{else}}
      <em>请在左侧打开一篇文章</em>
      {{/if}}
      <div id="metainfo">
        <div class="ann-meta">
          {{if data.metainfo.type == 'personal' }}
          <div class="ann-meta-personal">
            <a href="${url_for_user(data.metainfo.author)}">查询文集作者资料</a>
            <a href="index.html#!home">回到逸仙时空</a>
          </div>
          {{/if}}
          {{if data.metainfo.type == 'board' }}
          <div class="ann-meta-board">
            <a href="${url_for_board(data.metainfo.boardname)}">回到看版</a>
            <a href="index.html#!home">回到逸仙时空</a>
          </div>
          {{/if}}
          {{if data.metainfo.type == 'raw' }}
          <div class="ann-meta-raw">
            <a href="index.html#!home">回到逸仙时空</a>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fix-btns">
  <a id="totop" href="#" onclick="window.scrollTo(0, 0)">返回顶部</a>
</div>
