<div class="cell mail-cell">
  <h2>竞选版务</h2>
  <p>申请版务务必谨慎！感谢版务们的辛勤付出！</p>
  <div class="clearfix">
    <div class="span8">
      <form>
        <span class="help-block">
          以下表格填写的资料会合成一篇帖子，贴到 <a href="${url_for_board('New_booardmanager')}">New_booardmanager</a> 版，并转寄给管理员。
        </span>
        <label>申请看版</label>
        <input type="text" name="boardname"/>
        <label>竞选文</label>
        <span class="help-block">
          至少包括自我简介、申请动机、经营方向、删文原则，并注明是否担任站务管理员或担任其他版务，是否需要进行版主操作培训。 也可以选择性地添加一些内容，如对看版的认识，准备怎么发动目前站内已有活跃用户，准备如何维持版面的热度。
        </span>
        <textarea rows="12" class="span10" name="intro"></textarea>
        <label>申请人真实姓名</label>
        <input type="text" name="name"/>
        <label>常用Email</label>
        <input type="text" name="email"/>
        <label>院系年级（或工作单位）</label>
        <input type="text" name="class"/>
        <button data-submit="post-selpost" class="btn btn-danger pull-right">发布竞选帖</button>
      </form>
    </div>
    <div class="span4">
      <span>
        申请版副请先征得现任版主同意。如现任版主已有两周以上未上站，可直接申请版主。
      </span>
      <br/>
      <br/>
      <strong>申请版主1234</strong>
      <ol class="flow-step">
        <li> 阅读<a href="http://bbs.sysu.edu.cn/n/ann.html#!read?reqpath=site/D.1257053534.L/M.1309898443.A">相关站规</a>。 </li>
        <li> 发表竞选帖子。 </li>
        <li> 进行相关考核，进入实习期。 </li>
        <li> 转正成为正式版主。 </li>
      </ol>
      <br/>
      <strong>申请版主意味着 ... </strong>
      <ul>
        <li>深度参与你喜爱的版面</li>
        <li>一次极佳的能力锻炼</li>
        <li>为你喜爱的事情做出一份努力</li>
        <li>认识更多的版友和站友</li>
        <li>被记入社区发展的历史</li>
        <li>承担一份社区发展的责任</li>
      </ul>
    </div>
  </div>
</div>
