<div id="postlist-content" class="postlist-normal">
  <div id="postlist-content-inner">
    <table class="fluid-table">
      <tbody>
        {{if has_prev_page}}
        <tr class="meta-tr">
          <td colspan="5">
            <a href="#" data-submit="prev_page">上一页</a>
          </td>
        </tr>
        {{/if}}
        {{if fold > 2 }}
        <tr class="folding-btn">
          <td colspan="5">
            <a class="block" data-submit="open-folding">本页的前 ${fold-1} 篇已读的文章已被折叠，点击此处展开</a>
          </td>
        </tr>
        {{/if}}
        {{each(i, p) posts}}
        <tr data-index="post-${p.index}" class="{{if index == $G.local.hover }} hover-li{{/if}}{{if i < (fold-1) }} folding{{/if}}">
          <td class="index">${p.index}</td>
          <td class="owner-img">
            <img src="${ url_for_avatar(p.owner) }" />
          </td>
          <td class="owner">
            <a href="${ url_for_user(p.owner) }">
              <span>${p.owner}</span>
            </a>
          </td>
          <td class="title{{if p.mark.indexOf('g') != -1 }} title-g{{/if}}{{if p.mark.indexOf('m') != -1 }} title-m{{/if}}">
            <i data-submit="${url_for_post(p.filename, boardname)}" class="${(p.unread!='0')?'unread':'read'} hoverable-icon"></i>
            <a href="${url_for_topic(p.filename, boardname)}">${p.title}</a>
            <span class="time">${ tf_timestamp(p.update) }</span>
          </td>
          <td class="mark">
            {{if p.mark.indexOf('g') != -1 }}<i class="icon-mark-g"></i>{{/if}}
            {{if p.mark.indexOf('m') != -1 }}<i class="icon-mark-m"></i>{{/if}}
            {{if p.mark.indexOf('@') != -1 }}<i class="icon-mark-a"></i>{{/if}}
            {{if p.mark.indexOf('x') != -1 }}<i class="icon-mark-x"></i>{{/if}}
          </td>
        </tr>
        {{/each}}
        <tr class="meta-tr">          
          <td colspan="5">
            {{if has_next_page}}
            <a href="#" data-submit="next_page">下一页</a>
            {{else}}
            <a href="#" data-submit="mark-all-go" class="red mark-all-read">
              <i class="icon-ok"></i><br/>
              我读完了，进入下个看版
            </a>
            {{/if}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
