<div class="frame-header">
  <div class="frame-header-inner">
    <div class="padding-side">
      <table>
        <tbody>
          <tr>
            <td width="52%">
              <h2 class="board-title">${board.title} <small> ${board.filename}</small></h2>
              {{if board.BM.length}}
              <ul class="small-font inline-list">
                版主：
                {{each(i, v) board.BM}}
                <li><a href="${ url_for_user(v) }">${v}</a></li>
                {{/each}}
              </ul>
              {{else}}
              <div class="alert alert-danger small-font">
                <strong>诚征版主中！</strong><br/>
                如果你希望参与本版的管理为本版做点事情，请申请成为版主！
              </div>
              {{/if}}
            </td>
            <td class="tb-align-bottom">
              <div class="btn-toolbar">
                <a class="btn btn-small btn-success" href="#!new-post?boardname=${board.filename}">发表话题</a>
                <a class="btn btn-small" data-submit="clear-unread">清除未读标记</a>
                <div class="btn-group">
                  <a class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                    一帖一栏
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#" data-submit="only-topic">只看主题</a></li>
                    <li><a href="#" data-submit="only-g">只看文摘</a></li>
                  </ul>
                </div>
                <button data-submit="book_fav" class="btn btn-mini btn-info">收藏该版</button>
              </div>              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="cell cell-in">
  <a class="btn-posts-table" data-submit="prepend_postlist_li">
    <i data-submit="append_postlist_li" class="icon-chevron-up icon-white"></i>
  </a>
  <table class="fluid-table">
    <tbody id="postlist-container">
    </tbody>
  </table>
  <a class="btn-posts-table" data-submit="append_postlist_li">
    <i data-submit="append_postlist_li" class="icon-chevron-down icon-white"></i>
  </a>
</div>
