<div class="cell cell-loose">
  <div class="board-header">
    <div class="board-header-inner">
      <h3>${board.title}<small> ${board.filename}</small></h3>      
      {{if board.BM.length}}
      <ul class="inline-list">
        版主：
        {{each(i, v) board.BM}}
        <li><a href="${ url_for_user(v) }">${v}</a></li>
        {{/each}}
        <li>
          <button data-submit="book_fav" class="btn btn-book btn-info btn-mini">收藏该版</button>
        </li>
      </ul>
      {{else}}
      <div class="alert alert-danger small-font">
        <strong>诚征版主中！</strong><br/>
        如果你希望参与本版的管理为本版做点事情，请申请成为版主！
      </div>
      {{/if}}
    </div>
  </div>
</div>
<div class="cell cell-loose">
  <div class="clearfix">
    <div class="board-stats pull-left">
      <li>
        <a data-submit="set_normal_loader" href="#">
          发言
          <small>${board.total}</small>
        </a>
      </li>
      <li>
        <a data-submit="set_topic_loader" href="#">
          主题
          <small>${board.total_topic}</small>
        </a>
      </li>
      <li>
        <a data-submit="set_digest_loader" href="#">
          文摘
          <small>${board.total_digest}</small>
        </a>
      </li>
    </div>
  <div id="board-toolbar-outer" class="pull-right">
    <div id="board-toolbar">
      <button class="btn btn-small" data-submit="clear_unread">清除未读标记</button>
      <button class="btn btn-small btn-success" data-submit="newpost">发表话题</button>
      <button data-submit="refresh_current_page" class="btn btn-mini">&nbsp;<i data-submit="refresh_current_page" class="icon-refresh"></i>&nbsp;</button>
      {{if board.isadmin }}
      <a class="btn btn-mini" href="${url_for_admin_board(board.filename)}">管理</a>
      {{/if}}
    </div>
  </div>    
  </div>
  <div id="postlistbox" class="relative">
    <div id="postlist-container" class="relative">
      <div id="postlist-content"> <i class="icon-refreshing"></i> 努力地抓取数据中…… </div>
    </div>
    <div class="vpagination">
      <input type="text" data-max-page="${ Math.ceil((board.total)/PAGE_LIMIT) }" />
      <a href="#" class="first" data-action="first"><i class="arrow-up-bar"></i></a>
      <a href="#" class="previous" data-action="previous"><i class="arrow-up"></i></a>
      <a href="#" class="next" data-action="next"><i class="arrow-down"></i></a>
      <a href="#" class="last" data-action="last"><i class="arrow-down-bar"></i></a>
    </div>    
  </div>
</div>
