<div>
  <ul class="breadcrumb">
    <li><a href="${url_for_index()}">逸仙时空</a> <span class="divider"> / </span></li>
    <li><a href="#" data-submit="go-section">[${board.secnum} 区] ${SECNAME[board.secnum]}</a> <span class="divider">/</span></li>
    <li class="active">${board.title} (${board.filename}) 版</li>
  </ul>
</div>

<div class="cell boardinfo">
  <div class="board-header">
    <img src="${url_for_avatar_b(board.filename)}" />
    <h3>${board.title}</h3>
    <span class="board-misc">
      {{if $G.authed }}
      {{if !($G.userfav[board.filename]) }}
      <button class="btn btn-info btn-mini" data-submit="book_fav">收藏该版</button>
      {{else}}
      已收藏该版 > <a href="#" data-submit="unbook_fav">取消收藏</a>
      {{/if}}
      {{else}}
      登录后可收藏该版
      {{/if}}
    </span>
  </div>
  <div class="board-intro">
    <div class="board-meta">
      <ul class="bmlist">
        {{if board.BM.length}}
        <li>版主：</li>
        {{each(i, v) board.BM}}
        <li><a href="${ url_for_user(v) }">${v}</a></li>
        {{/each}}
        {{/if}}
      </ul>
      <span>收藏本版人数： ${board.favnum}</span>
      <span>累计发文篇数： ${board.total}</span>
    </div>
    {{if board && board.htmlnotes }}
    <div class="notes">{{html board.htmlnotes}}</div>
    {{else}}
    <p>版主萌萌嗒～大家萌萌嗒～</p>
    {{/if}}
    <ul class="inline-list">
      <li> > </li>
      <li><a target="_blank" href="http://bbs.sysu.edu.cn/bbsdoc?board=${board.filename}">进入旧版</a></li>
      <li> | </li>
      <li><a target="_blank" href="http://bbs.sysu.edu.cn/bbs0an?path=boards/${board.filename}">精华区</a></li>
      {{if board.isadmin }}
      <li> | </li>
      <li>
        <em><a href="${url_for_admin_board(board.filename)}">版主管理</a></em>
      </li>
      {{/if}}
    </ul>
  </div>
</div>
<div class="cell cell-loose newpostbox">
  {{if $G.authed }}
  <img class="avatar" src="${url_for_avatar($G.authed.u.userid)}" />
  <form data-submit="publish_post" id="new-post-form">
    <div class="title">
      我也来说点啥？
      <br>
      <div class="select_tag">
        {{each(key, name) '闲聊 提问 中大讲座 招聘 兼职 求购 出售 吐槽 转载 活动公告 原创/请版友指教 原创/请版友阅读 原创/分享 签到'.split(' ')}}
        <label class="radio inline">
          <input type="radio" name="cls" onclick="$G.local.update_title_tag(this)" value="${name}">
          ${name}
        </label>
        {{/each}}
        </label>
      </div>
    </div>
    <input type="hidden" name="boardname" value="${board.filename}"/>
    <input type="hidden" name="type" value="new"/>
    <div class="editor">
      <div class="editor-group">
        <input name="title" class="input-block-level" type="text" placeholder="标题 ..." />
      </div>
      <div class="editor-group">
        <textarea name="content" rows="2" placeholder="好心情 ：-）" class="input-block-level" id="newpost_textarea" onfocus="extend_rows()"></textarea>
      </div>
      <span class="help-inline">Ctrl+Enter快速发表, 一文最多发四版, 贴图片直接帖链接</span>
    </div>
    <div id="pop-bar">
      <div>
        <button data-group="newpost" class="btn btn-success">发表文章</button>
        <div class="file-uploader pull-right">
          <input class="file-selector" type="file" name="attach"/>
        </div>
      </div>
      <div id="appender-container"></div>
    </div>
  </form>
  {{else}}
  <p class="nologin">登录后才可以发帖哟！</p>
  {{/if}}
</div>
<div class="cell cell-main">
  <div class="cell-header">
    <h3>最新发言</h3>
  </div>
  <div id="topiclist" class="topiclist">
    <div id="loader">加载中。。。  </div>
  </div>
</div>


