<div class="cell main-cell cell-loose">
  <div class="board-header relative">
    <div class="board-header-inner">
      <h3>${board.title}<small> ${board.filename}</small></h3>      
      {{if board.BM.length}}
      <ul class="bmlist">
        版主：
        {{each(i, v) board.BM}}
        <li><a href="${ url_for_user(v) }">${v}</a></li>
        {{/each}}
        {{if $G.authed }}
        {{if !($G.userfav[board.filename]) }}
        <li><button class="btn btn-info btn-mini" data-submit="book_fav">收藏该版</button></li>
        {{else}}
        <li><button class="btn btn-mini disabled">已收藏</button></li>
        {{/if}}
        {{/if}}
      </ul>
      {{else}}
      <div class="alert alert-danger small-font">
        <strong>诚征版主中！</strong><br/>
        如果你希望参与本版的管理为本版做点事情，请申请成为版主！
      </div>
      {{/if}}
      <ul id="loader-wrapper" class="board-nav">
        <li id="normal-loader">
          <a data-submit="set_normal_loader" href="#">发言<small>(${board.total})</small></a></li>
        <li id="topic-loader"><a data-submit="set_topic_loader" href="#">主题<small>(${board.total_topic})</small></a></li>
        <li id="digest-loader"><a data-submit="set_digest_loader" href="#">文摘<small>(${board.total_digest})</small></a></li>
      </ul>
    </div>    
  </div>  
  <div class="board-toolbar clearfix">
    <div class="btn-toolbar pull-left">
      <button class="btn btn-small btn-success" data-submit="newpost">发表话题</button>
      <button class="btn btn-small" data-submit="clear_unread">清除未读标记</button>
      {{if board.isadmin }}
      <a class="btn btn-small" href="${url_for_admin_board(board.filename)}">管理</a>
      {{/if}}
    </div>    
    <div class="pull-right">
      <div class="bpagination pagination">
        <ul>
          <li><a href="#" class="first" data-action="first">&laquo;</a></li>
          <li><a href="#" class="previous" data-action="previous">&lsaquo;</a></li>
          <li><input type="text" /></li>
          <li><a href="#" class="next" data-action="next">&rsaquo;</a></li>
          <li><a href="#" class="last" data-action="last">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="postlistbox" class="relative">
    <div id="postlist-container" class="relative">
      <div id="postlist-content"> <i class="icon-refreshing"></i> 努力地抓取数据中…… </div>
    </div>
  </div>
</div>
<div id="near-board"></div>
