<div id="postlist-content" class="postlist-normal">
  <div id="postlist-content-inner">
    <table class="fluid-table">
      <tbody>
        {{each(i, p) posts}}
        <tr data-index="post-${p.index}"{{if index == $G.local.hover }} class="hover-li"{{/if}}>
          <td class="index">${p.index}</td>
          <td class="owner-img">
            <img src="${ url_for_avatar(p.owner) }" />
          </td>
          <td class="owner">
            <a href="${ url_for_user(p.owner) }">
              <span>${p.owner}</span>
            </a>
          </td>
          <td class="title{{if p.mark.indexOf('m') != -1 }} title-m{{/if}}">
            <i data-submit="${url_for_post(p.filename, boardname)}" class="${(p.unread!='0')?'unread':'read'} hoverable-icon"></i>
            <a href="${url_for_topic(p.filename, boardname)}">${p.title}</a>
            <span class="time">${ tf_timestamp(p.update) }</span>
          </td>
          <td class="mark">
            {{if p.mark.indexOf('m') != -1 }}<i class="icon-mark-m"></i>{{/if}}
            {{if p.mark.indexOf('@') != -1 }}<i class="icon-mark-a"></i>{{/if}}
            {{if p.mark.indexOf('x') != -1 }}<i class="icon-mark-x"></i>{{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
