<div class="cell topten">
  <div class="cell-header">
    <h3><span class="glyphicon glyphicon-th-list gg" aria-hidden="true"></span> 今日十大</h3>
  </div>
  <table class="topten-table">
    <tbody>
      {{each(i, p) topten}}
      {{if p.board != 'Job' && p.board != 'PartTime' }}
      <tr>
        <td class="">
          <div class="topten-title">
            <a href="${ url_for_topic(p.filename, p.board) }" data-ismain>
              ${p.title}
            </a>
          </div>
        </td>
        <td>
          &nbsp&nbsp&nbsp
          <span class="label label-success">
            ${p.num} 
          </span>
        </td>
        <td class="topten-title">
          <span class="topten-left">
            <span class="">
              &nbsp » 
              <a href="#!board?boardname=${p.board}">
                ${p.board} 
              </a>
            </span>
          </span>
        </td>
        <td>
          <span class="topten-left">
            &nbsp • &nbsp
            <span class="meta-time">
              <time>${tf_timestamp(p.time)}</time>
            </span>
          </span>
        </td>
      </tr>
      {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>
<div id="part-3"></div>
<br>
<div class="cell cell-loose">
  <div class="cell-header header-center">
    <h3>文章推荐</h3>
  </div>
  {{if (www.rempost) && (www.rempost.length) }}
  {{each(i, p) www.rempost}}
  <div class="home-post-recom">
    <div class="post-info">
      <div class="span8">
        <h3><a href="${url_for_topic(p.filename, 'Recommend')}">${p.title}</a></h3>
      </div>
      <div class="span4 text-right">
        <a class="owner" href="${url_for_user(p.owner)}">
          <strong class="userid">${p.owner}</strong>
        </a>
        <span class="time">${tf_timestamp(p.update)}</span>
        <img class="user-avatar" src="${url_for_avatar(p.owner)}"/>
      </div>
    </div>
    <div class="post-content">
      ${p.content}
    </div>
  </div>
  {{/each}}
  {{/if}}
</div>    
