<div class="cell main-cell">
  <div class="cell-header">
    <h3>最新贴子</h3>
  </div>
  <div id="postlist-content" class="postlist-topic">
    <div id="postlist-content-inner">
      {{each(i, p) data}}
      {{if p.title }}
      <div class="post-li-topic">
        <img src="${url_for_avatar(p.author)}">
        <a target="_blank" class="title" href="${url_for_topic2(p.topicid)}">${p.title}</a>
        <div>
          <span class="time">发起 : </span>
          <a class="owner" href="${url_for_user(p.author)}">${p.author}</a>
          <span class="time"> / 来自 : </span>
          <a class="owner" href="${url_for_board(p.boardname)}">${p.boardname}</a>
          <span class="time"> / 最后更新 :  ${ tf_timestamp(p.lastupdate) }</span>
        </div>
        <span class="replynum">
          <span class="badge{{if check_isnew(p.boardname, p.topicid, p.lastupdate) }} badge-success{{/if}}">
            ${p.replynum}
          </span>
        </span>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>
<div>
  <div id="part-2"></div>
</div>
