<!--<div id="show-home-post" data-label="manew" class="cell cell-loose" style="display: none">
  <div class="close" data-submit="close-home-post" style="position: absolute; right: 5px;">&times;</div>
  <a target="_blank" href="#"><img src="http://argo.sysu.edu.cn/attach/Say/1391056994.jpg"/></a>
</div>-->
<div class="cell dowhat">
  <div class="cell-header">
    <h3>干点啥...</h3>
  </div>
  <div>
    <a onclick="window.scrollTo(0, $('.main-cell').offset().top-45)"
       href="#">看新帖</a>
    <a target="_blank" href="${url_for_board('Say')}">吐槽</a>
    <a target="_blank" href="${url_for_board('Joke')}">讲笑话</a>
    <a target="_blank" href="${url_for_board('Love')}">感情问题求助</a>
    <a target="_blank" href="${url_for_board('Poem')}">写首诗</a>
    <a target="_blank" href="${url_for_board('Film')}">写影评</a>
    <a target="_blank" href="${url_for_board('Reading')}">读书心得</a>
    <a target="_blank" href="${url_for_board('Heart')}">心情随笔</a>
    <a target="_blank" href="${url_for_board('Memory')}">回忆故事</a>
    <a target="_blank" href="${url_for_board('Pop')}">好歌推荐</a>
    <a target="_blank" href="${url_for_board('News')}">新闻讨论</a>
    <a target="_blank" href="${url_for_board('Job')}">招聘</a>
    <a target="_blank" href="${url_for_board('Parttime')}">兼职</a>
    <a target="_blank" href="${url_for_board('Lectures')}">讲座信息</a>
    <a target="_blank" href="${url_for_board('SYSU_Info')}">中大校园</a>
    <a target="_blank" href="${url_for_board('Search')}">失物招领</a>
    <a class="pull-right" data-submit="go-section" href="#"><small> › 查看全部看版</small></a>
  </div>
</div>
<div class="cell main-cell">
  <div class="cell-header">
    <h3>新鲜发言</h3>
  </div>
  <div id="postlist-content" class="postlist-topic">
    <div id="postlist-content-inner">
      {{each(j, ps) data.groups}}
      <div class="postlist-group">
        {{each(i, p) ps}}
        <div class="post-li-topic {{if i>0 && !($G.userfav[p.boardname]) }}post-li-second{{/if}}">
          <img src="${url_for_avatar(p.author)}">
            <a target="_blank" class="title" href="${url_for_topic2(p.topicid)}">
              <strong>${p.title}</strong>
            </a>
            <div>
              <span class="time">发起 : </span>
              <a class="owner" href="${url_for_user(p.author)}">${p.author}</a>
              <span class="time"> / 来自 : </span>
              <a class="owner" href="${url_for_board(p.boardname)}">${p.boardname}</a>
              <span class="time"> / 最后更新 :  ${ tf_timestamp(p.lastupdate) }</span>
            </div>
            <span class="replynum">
              <span class="badge{{if check_isnew(p.boardname, p.topicid, p.lastupdate) }} badge-success{{/if}}">
                ${p.replynum}
              </span>
            </span>
        </div>
        {{/each}}
        {{if (ps.length > 1) && !($G.userfav[ps[0].boardname]) }}
        <p data-submit="load-board-more" class="post-li-loadmore">看 ${ps[0].boardname} 版更多话题...</p>
        {{/if}}        
      </div>
      {{/each}}
      <div data-cursor="${data.cursor+data.count}" data-submit="load-cursor" class="load-more-post">抓取更多数据...</div>
    </div>
  </div>
</div>
<div>
  <div id="part-2"></div>
</div>
