<div class="cell main-cell">
  <div class="cell-header">
    <h3 class="gray"><span class="glyphicon glyphicon-align-left gg" aria-hidden="true"></span> 新鲜事</h3>
  </div>
  <div id="">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="tab" href="#tab-new">最新帖子</a></li>
    <li ><a data-toggle="tab" href="#tab-say">不吐不快</a></li>
    <li ><a data-toggle="tab" href="#tab-sale">跳蚤市场</a></li>
    <li ><a data-toggle="tab" href="#tab-part">兼职信息</a></li>
    <li ><a data-toggle="tab" href="#tab-job">人才市场</a></li>
    <li ><a data-toggle="tab" href="#tab-employee">上班一族</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab-new">
        {{each(i, pp) fresh}}
          {{if (pp[0].boardname != 'Job' && pp[0].boardname != 'PartTime')}}
          {{each(j, p) pp}}
          <li>
            <span><a href="${url_for_topic2(p.topicid)}">${p.title}</a></span>
            <div class="tab-right">
            <span class="label label-warning">
              ${p.replynum} 
                  &nbsp » 
                  <a href="#!board?boardname=${p.boardname}">
                    ${p.boardname} 
                  </a>
              </span>
            </div>
          </li>
          {{/each}}
          {{/if}}
        {{/each}}
    </div>
    <div class="tab-pane" id="tab-say">
        {{each(i, p) says}}
          <li>
            <span><a href="${url_for_topic(p.filename,'Say')}">${p.title}</a></span>
            <div class="tab-right">
            <span class="label label-warning">
              ${p.total_reply} 
                  &nbsp » 
                  <a href="#!board?boardname=Say">
                    Say
                  </a>
              </span>
            </div>
          </li>
        {{/each}}
    </div>
    <div class="tab-pane" id="tab-sale">
        {{each(i, p) sales}}
          <li>
            <span><a href="${url_for_topic(p.filename,'Sale')}">${p.title}</a></span>
            <div class="tab-right">
            <span class="label label-warning">
              ${p.total_reply} 
                  &nbsp » 
                  <a href="#!board?boardname=Sale">
                    Sale
                  </a>
              </span>
            </div>
          </li>
        {{/each}}
    </div>
    <div class="tab-pane" id="tab-part">
        {{each(i, p) pars}}
          <li>
            <span><a href="${url_for_topic(p.filename,'PartTime')}">${p.title}</a></span>
            <div class="tab-right">
            <span class="label label-warning">
              ${p.total_reply} 
                  &nbsp » 
                  <a href="#!board?boardname=PartTime">
                    PartTime
                  </a>
              </span>
            </div>

          </li>
        {{/each}}
    </div>
    <div class="tab-pane" id="tab-job">
        {{each(i, p) jobs}}
          <li>
            <span><a href="${url_for_topic(p.filename,'Job')}">${p.title}</a></span>
            <div class="tab-right">
            <span class="label label-warning">
              ${p.total_reply} 
                  &nbsp » 
                  <a href="#!board?boardname=Job">
                    Job
                  </a>
              </span>
            </div>
          </li>
        {{/each}}
    </div>
    <div class="tab-pane" id="tab-employee">
        {{each(i, p) emps}}
          <li>
            <span><a href="${url_for_topic(p.filename,'Employee')}">${p.title}</a></span>
            <div class="tab-right">
            <span class="label label-warning">
              ${p.total_reply} 
                  &nbsp » 
                  <a href="#!board?boardname=Employee">
                    Employee
                  </a>
              </span>
            </div>
          </li>
        {{/each}}
    </div>
  </div>
  </div>
</div>
