<div class="cell main-cell cell-loose">
  <div class="cell-header header-center">
    <h3 class="gray fresh-cell-title">最新帖子</h3>
  </div>
  <div id="postlist-content" class="postlist-topic">
    <div id="postlist-content-inner">
      {{each(j, ps) data.groups}}
      <div class="postlist-group freshlist">
        {{each(i, p) ps}}
        <div class="post-li-topic {{if !($G.userfav[p.boardname]) }}post-li-second{{/if}}">
          <div class="fresh-bbox">
            <span class="time">来自 : </span>
            <a class="fresh-board" href="${url_for_board(p.boardname)}">${p.boardname}{{if ($G.userfav[p.boardname])}}(我收藏的看版){{/if}}</a>
          </div>
          <div class="post-li-meta">
            <img src="${url_for_avatar(p.author)}">
            <span class="time">发起 : </span>
            <a class="fresh-owner" href="${url_for_user(p.author)}">${p.author}</a>
            <span class="time"> / 最后更新 :  ${ tf_timestamp(p.lastupdate) }</span>
          </div>
          <a target="_blank" class="title{{if ($G.userfav[p.boardname])}} infav{{/if}}" href="${url_for_topic2(p.topicid)}">
            <strong>${p.title}</strong>
          </a>
          {{if p.summary != null}}
          <div class="summary">
            {{html format_summary(p.summary) }}            
          </div>
          {{/if}}            
          <span class="replynum">
            <span class="badge{{if check_isnew(p.boardname, p.topicid, p.lastupdate) }} badge-success{{/if}}">
              ${p.replynum}
            </span>
          </span>
        </div>
        {{/each}}
        {{if (ps.length > 0) && !($G.userfav[ps[0].boardname]) }}
        <p data-submit="load-board-more" class="freshlist-open">折叠了 ${ps[0].boardname} 版 ${ps.length} 个话题，点此可以打开 <img class="avatar_b" src="${url_for_avatar_b(ps[0].boardname)}"></p>
        {{/if}}        
      </div>
      {{/each}}
      <div id="autoload" data-cursor="${data.cursor+data.count}" data-submit="load-cursor" class="load-more-post">抓取更多数据...</div>
    </div>
  </div>
</div>
