{{if www.posts }}
<div class="cell cell-in">
  <div class="page-img">
    <div id="home-slide" data-interval="5000" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        {{each(i, m) www.posts}}
        <div class="{{if (i==0) }}active {{/if}}item">
          <img src="${(m[0])}">
          <div class="carousel-caption">
            {{if m[1]}}<h4>${(m[1])}</h4>{{/if}}
            {{if m[2]}}<p>${(m[2])}</p>{{/if}}
            {{if m[3]}}<a href="${m[3]}"> » 详细信息 </a>{{/if}}
          </div>
        </div>
        {{/each}}
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#home-slide" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#home-slide" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>
{{/if}}
<div class="cell cell-loose">
  <div class="cell-header">
    <h3>今日十大</h3>
  </div>
  <div class="topten-wrapper">
    <table class="table-topten odd-even">
      <tbody>
        {{each(i, p) topten}}
        <tr{{if i % 2 == 1}} class="odd"{{/if}}>
          <td class="topten-title">
            <div>
              <a href="${ url_for_topic(p.filename, p.board) }" data-ismain>
                ${p.title}
              </a>
              <span class="metainfo">
                <span class="meta-board">
                  &nbsp » 
                  <a href="#!board?boardname=${p.board}">
                    ${p.board} 
                  </a>
                </span>&nbsp • &nbsp
                <span class="meta-time">
                  <time>${tf_timestamp(p.time)}</time>
                </span>
              </span>
            </div>
          </td>
          <td class="topten-replynum">
            <span class="label label-${ $G.local.format_number(p.num) }">
              ${p.num} 
            </span>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<div class="cell cell-loose">
  <div class="cell-header">
    <h3>文章推荐</h3>
  </div>
  {{if (www.rempost) && (www.rempost.length) }}
  {{each(i, p) www.rempost}}
  <div class="home-post-recom">
    <div class="post-content">
      <h3><a href="${url_for_topic(p.filename, 'Recommend')}">${p.title}</a></h3>
      ${p.content}
    </div>
    <div class="post-info">
      <div>
        <a class="owner" href="${url_for_user(p.owner)}">
          <strong class="userid">${p.owner}</strong>
        </a>
        <span class="time">${tf_timestamp(p.update)}</span>
        <img class="user-avatar" src="${url_for_avatar(p.owner)}"/>
      </div>
    </div>
  </div>
  {{/each}}
  {{/if}}
</div>    
