<div class="page-img">
  <div class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <img src="${url_for_img('brand.jpg')}"/>
        <div class="carousel-caption">
          <h4>逸仙时空</h4>
          <p>新版web测试中...</p>
        </div>
      </div>
      <div class="item">…</div>
      <div class="item">…</div>
    </div>
    <!-- Carousel nav -->
    <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a> -->
    <!-- <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
  </div>
</div>

<div data-ajax="topten">
  <div class="hint-empty"><i class="icon-refreshing"></i>努力地载入十大内容中……</div>
</div>
<div data-ajax="all_boards">
  <div class="hint-empty"><i class="icon-refreshing"></i>努力地载入讨论区导航中……</div>
</div>
<div id="part-wish"></div>
