<div>
  <div class="cell cell-in">
    <div class="cell-header">
      <h3>讨论区导航</h3>
    </div>
    <div class="cell-content">
      <div class="padding-bottom">
        <table>
          <tbody>
            {{each(isec, ssec) boards }}
            {{if ssec.boards.length }}
            <tr class="board-group">
              <td class="board-group-head">
                <h4>${ssec.secname}</h4>
              </td>
              <td class="board-group-content">
                <ul>
                  {{each(iboard, sboard) ssec.boards }}
                  <li>
                    <a href="${url_for_board(sboard.boardname)}">
                      ${sboard.title}
                    </a>
                  </li>
                  {{/each}}
                </ul>
              </td>
            </tr>
            {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
