<div class="cell cell-main">
  <div class="cell-header">
    <h3>激活你的帐号</h3>
  </div>
  <br>
  <div class="content">
    <h4>使用新生邀请体验码</h4>
    <p>
      <form data-submit="authinvcode" action="void(*)">
        邀请码：<br/>
        <input type="text" id="invcode"/>
        <br/>
        <input class="btn btn-success" type="submit" value="激活我的帐号！"/>
      </form>
      在开学后，要使用你的netid重新激活哟～<br/>
      
    </p>
    <br/>        
    <a href="http://cas.sysu.edu.cn/cas/login?service=http://argo.sysu.edu.cn/account/auth/netid">
      点此使用netid进行激活（单个netid最多3个帐号）</a><br>
    <a href="http://argo.sysu.edu.cn/account/auth/info">
      点此通过核对校友资料来激活帐号（适用于95~08届已毕业的校友）</a>
    <br/>
    <br/>
    <div class="small-font fade-font">
      <p>为什么bbs只能面向校内而且只有校友才能获得发文权？</p>
      <p>
        2004年9月，第17号文件《关于进一步加强高等学校校园网络管理工作的意见》，<br/>
        正式要求高校BBS严格实行用户实名注册制度，要加强对校园网BBS的规范和管理。
        <!-- 从此bbs进入黑暗时代 -->
        <br/>
        更多信息参考<a href="http://zh.wikipedia.org/wiki/%E4%B8%AD%E5%9B%BD%E7%BD%91%E7%BB%9C%E5%AE%9E%E5%90%8D%E5%88%B6">此处</a>和<a href="http://www.baidu.com/s?wd=bbs+%E5%AE%9E%E5%90%8D%E5%88%B6&rsv_bp=0&ch=&tn=baidu&bar=&rsv_spt=3&ie=utf-8&rsv_n=2&rsv_sug3=1&rsv_sug1=1&rsv_sug4=122&inputT=704">此处</a>。
      </p>
    </div>
  </div>
</div>
