<div id="maillistbox" class="cell main-cell cell-loose">
  <div class="mailbox relative clearfix">
    <div class="pull-left">
      <strong>${$G.authed.u.userid}</strong> 的收件箱
    </div>
    <div class="pull-right">
      <div class="progress nomargin">
        <div class="bar" style="width: ${mailbox.used_size/mailbox.total_size*100}%;"></div>
        <div class="absolute-fluid light-font text-center">
          共 ${mailbox.total} 封信，${nice_size(mailbox.used_size)} / ${nice_size(mailbox.total_size)}
        </div>
      </div>
    </div>
  </div>
  <div class="mailbox-toolbar clearfix relative">
    <div class="btn-toolbar">
      <div class="btn-group">
        <button class="btn btn-small btn-success" data-submit="pop_new_mail">写信</button>
      </div>
      <div class="bpagination btn-group pull-right">
        <a href="#" class="first btn btn-small" data-action="first">&laquo;</a>
        <a href="#" class="previous btn btn-small" data-action="previous">&lsaquo;</a>
        <input type="text" class="btn-input" data-max-page="${ Math.ceil((mailbox.total)/20) }" />
        <a href="#" class="next btn btn-small" data-action="next">&rsaquo;</a>
        <a href="#" class="last btn btn-small" data-action="last">&raquo;</a>
      </div>    
    </div>    
  </div>    
  <div id="maillist-container">
    <div id="maillist-content">
      <i class="icon-refreshing"></i> 努力地抓取数据中……
    </div>
  </div>
</div>
