<div id="maillist-content" class="postlist-normal">
  <div id="maillist-content-inner">
    <table class="fluid-table">
      <tbody>
        {{each(i, m) mails}}
        <tr id="mail-${m.index}"{{if m.index == $G.local.hover }} class="hover-li"{{/if}}>
          <td class="index">${m.index}</td>
          <td class="owner-img">
            <img src="${url_for_avatar(m.owner)}"/>
          </td>
          <td class="owner">
            <a href="${url_for_user(m.owner)}">${m.owner}</a>
          </td>
          <td class="tb-title">
            <i class="${(m.flag=='0')?'unread':'read'}"></i>
            <a href="${url_for_readmail(m.index)}"
               data-index="${m.index}">${m.title}</a>
            <span class="time">${m.filetime}</span>
          </td>
          <td class="mark">
            <span class="mail-reply">{{if m.flag > 31}}&crarr;{{/if}}</span>
          </td>        
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
