<div class="cell cell-main">
  <h3>邀请你的好友入住逸仙时空</h3>
  <div>
    <p>将这个链接传给你的朋友，邀请他们入住到逸仙时空。</p>
    <p>如果你成功邀请的朋友超过10个，在「游园会」时可到站务组处领取精美礼品一份。</p>
    <div class="well">
      <a target="_blank"
         href="http://argo.sysu.edu.cn/account/register_netid?inviter=${$G.authed.u.userid}">http://argo.sysu.edu.cn/account/register_netid?inviter=${$G.authed.u.userid}</a>
    </div>
    {{if totalnum }}
    <h4>被我邀请入住的人（${totalnum}个id）</h4>
    <ul class="namelist clearfix">
      {{each(i, p) newuserid}}
      <li>
        <img src="${url_for_avatar(p)}"/>
        <a href="${url_for_user(p)}">${p}</a>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <h4>喵～你现在还没邀请到任何一个人入住呢～</h4>
    {{/if}}
    <div class="hint">
      <p>在这些地方都可以试一下哟～</p>
      <ul>
        <li>微博</li>
        <li>QQ空间</li>
        <li>QQ群</li>
        <li>QQ签名</li>
        <li>电子邮件</li>
      </ul>
    </div>    
  </div>
</div>
