<div class="post-wrapper{{if !(title.substr(0, 3) == 'Re:')}} topic-post{{/if}}" data-index="${ index }" id="post-${filename}">
  <div class="post-wrapper-inner">
    <div class="post-header">
      <div class="post-info">
        <div>
          <a class="owner" href="${ url_for_user(userid) }"><strong class="userid">${userid}</strong><span class="username"> ${username} </span></a>
          <img class="user-avatar" src="${ url_for_avatar(userid) }"/>
          <span class="time">${post_time}</span>
        </div>
        <h3 id="title-${index}">${title}</h3>
      </div>
    </div>
    <div class="typo post-content">
      {{html content}}
      <div class="typo post-signature">{{html signature }}</div>
      {{if !$.isEmptyObject(ah) }}
      <p>这篇帖子含附件：
        <div>
          {{if !ah.desc.indexOf("image") }}
          <img src="${ah.link}"/>
          {{else}}
          <a href="${ah.link}" target="_blank">${ah.origname}</a>
          {{/if}}
        </div>
      </p>
      {{/if}}
    </div>
    <div class="post-toolbar clearfix">
      <ul class="hidden-ul">
        <li class="display"><a data-group="post-${index}" data-submit="reply_post"> 回复 </a>
        </li>
        <li> • <a href="${url_for_topic(filename, board)}">同主题阅读</a></li>
        <li> • <a href="${url_for_board_i(index, board)}">回到版块</a></li>
        {{if perm_del }}
        <li> • <a data-group="post-${index}" data-submit="delete_post">删除</a></li>
        <li> • <a data-group="post-${index}" data-submit="editpost">修改</a></li>
        {{/if}}
        <li>
          <div class="dropdown">
             • 
            <a href="#" data-toggle="dropdown">分享</a>
            <ul class="dropdown-menu">
              <li><a data-args="sina" data-group="post-${index}" href="#"
                     data-submit="share-post">分享到微博</a></li>
              <li><a data-args="renren" data-group="post-${index}" href="#"
                     data-submit="share-post">分享到人人</a></li>
              <li><a data-args="qq" data-group="post-${index}" href="#"
                     data-submit="share-post">分享到QQ</a></li>
              <li><a data-args="douban" data-group="post-${index}" href="#"
                     data-submit="share-post">分享到豆瓣</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <input type="hidden" name="filename" data-group="post-${index}"
           value="${filename}"/>
    <input type="hidden" name="index" data-group="post-${index}"
           value="${index}"/>
  </div>      
</div>      
