<div class="small-page-header">
  <div class="padding-side">
    <h2 class="inline">${ $G.local.boardname }</h2> &nbsp;
    <a href="${url_for_board($G.local.boardname)}"> « 回到版块</a>
  </div>
</div>
<div id="post-up" class="page-btn">
  <a data-submit="load_prev"><i data-submit="load_prev" class="blur icon-arrow-up"></i></a>
</div>
<div id="post-container"></div>
<div id="post-down" class="page-btn">
  <a data-submit="load_next"><i class="icon-arrow-down"></i></a>
  <div class="hidden">
    已经是最后一篇了 o(∩_∩)o <br/>
  </div>
</div>
