<div class="post-wrapper" data-index="${ index }" id="post-${filename}">
  <img class="absolute  img-mid" src="${ url_for_avatar(userid) }"/>
  <div class="post-header">
    <div class="post-info">
      <h3>${title}</h3>
      <div>
        发信人：<a href="${ url_for_user(userid) }">${userid}</a> (${username})
        <time> ${post_time} </time>
      </div>
    </div>
  </div>
  <div class="typo post-content">
    {{html content}}
    <div class="typo post-signature">{{html signature }}</div>
  </div>
  <div class="post-toolbar text-right">
    <ul class="inline-list">
      <li><a href="#" data-group="post-${filename}" data-submit="reply_post">
          <i data-group="post-${filename}" data-submit="reply_post"
             class="icon-pencil"></i> 回复 </a>
      </li>
      <li><a href="${url_for_board_i(index, board)}"><i class="icon-th-list"></i> 回到版块 </a></li>
      <li><a href="${url_for_topic(filename, board)}"><i class="icon-film"></i> 同主题阅读 </a></li>
      {{if perm_del }}
      <li><a href="#" data-group="post-${filename}" data-submit="delete_post">
          <i data-group="post-${filename}" data-submit="reply_post"
             class="icon-trash"></i> 删除 </a>
      </li>
      {{/if}}
    </ul>
  </div>
  <input type="hidden" name="filename" data-group="post-${filename}"
         value="${filename}"/>
</div>      
