<div class="cell main-cell">
  <div id="section-container">
    <ul class="nav nav-pills tab-sec-ul">
      {{each(i, s) sections}}
      <li><a class="tab-sec" data-args="${i}" id="a-pill-${i}" data-toggle="pill" href="#pill-${i}">${s.secname}</a></li>
      {{/each}}
    </ul>  
    <div class="pill-content">
      {{each(i, s) sections}}
      <div class="pill-pane" id="pill-${i}">
        <div class="cell-header">
          <h3>${s.secname}</h3>
          <small>[${i} 区]</small>
        </div>
        <ul class="sec-boardlist clearfix">
          {{each(j, b) s.boards}}
          <li>
            <img class="avatar_b lazy" data-src="${url_for_avatar_b(b.boardname)}" />
            <a class="boardname" target="_blank" href="${url_for_board(b.boardname)}">             
              <strong>${b.title}</strong>(${b.boardname})
              {{if good[b.boardname] }}
              <small class="recommend">推荐！</small>
              {{/if}}
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/each}}
    </div>
  </div>
</div>
