<div class="cell cell-loose main-cell topic-read">
  <div class="cell-header">
    <a class="back-to-board"  href="#" data-submit="back-to-board">‹
      ${$G.local.boardname } 版</a>
  </div>
  {{if $G.local.oldest_index }}
  <div id="post-up" class="page-btn">
    <a href="${ url_for_topic($G.local.topiclist[0], $G.local.boardname) }">从本主题第一篇开始</a>
  </div>
  {{/if}}
  <div id="post-container"></div>
  <div id="post-down" class="page-btn">
    <a class="load-next" data-submit="load_next">下一篇</a>
    <div class="hidden">
      已经是最后一篇了 o(∩_∩)o <br/>
    </div>
    <div class="text-center">
      <a data-submit="back-to-board" href="#">回到版块</a>
    </div>
  </div>
</div>
