{{each(i, p) list}}
<div data-index="topic-${p.index}" class="post-li-topic{{if index == $G.local.hover }} hover-li{{/if}}">
  <img src="${url_for_avatar(p.owner)}">
  {{if p.mark }}
  <span class="mark">
    {{if p.mark.indexOf('g') != -1 }}<i title="加g表示入选为文摘" class="mark-g">文摘</i>{{/if}}
    {{if p.mark.indexOf('m') != -1 }}<i title="加g表示"class="mark-m">好文</i>{{/if}}
    {{if p.mark.indexOf('@') != -1 }}<i class="mark-a"></i>{{/if}}{{if p.mark.indexOf('x') != -1 }}<i class="mark-x"></i>{{/if}}
  </span>
  {{/if}}
  <a class="title" href="${url_for_topic(p.filename, boardname)}">
    <strong>${p.title}</strong>
  </a>
  <div class="summary">
    {{if p.summary != null}} 
      {{html format_summary(p.summary) }}
    {{/if}}
  </div>
  <div>
    <a class="owner" href="${url_for_user(p.owner)}">${p.owner}</a>
    <span class="time"> • ${ tf_timestamp(p.update) }</span>
  </div>
  <span class="replynum">
    <span class="badge{{if p.unread == 1}} badge-success{{/if}}">
      ${p.total_reply}
    </span>
  </span>
</div>
{{/each}}
<div id="loader"><div class="load-more-post" data-submit="load-more">载入更多</div></div>
