<div class="cell main-cell">
  <div class="row-fluid">
    <div class="span5">
      <h2>逸仙时空新生指南</h2>
    </div>
    <div class="span6 relative tut-progress">
      <div class="progress">
        <div class="bar" style="width: 100%;">
        </div>
        <div class="step-progress">
          <span class="active">1. 发现看版</span>
          <span class="active">2. 关注版面</span>
          <span class="active">3. 参与到社区</span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <h4>参与到社区中吧！</h4>
    <p>
      逸仙时空是一个开放、自由、包容的社区，也是一个有情怀有文化的地方。<br/>
      欢迎您积极参加到看版的讨论中来！</p> 
    <p>
      你可以：
      <ul>
        <li>发帖求助你的各种问题，如 <b>[提问]如何向心仪的对象表白</b> </li>
        <li>发帖分享你生活的点点滴滴，如 <b>[分享]真希望有一个TA</b> </li>
        <li>发表你的原创文章和经验介绍，如 <b>[原创]如何把TA约出来</b> </li>
        <li>转发你感兴趣的内容让大家一起分享，
          如 <b>[转发]约会不得不知道的十个技巧</b> </li>
      </ul>
      还有更多更多！希望逸仙时空能帮到你，你也回馈到社区之中！<br/>
    </p>
    <p>
      <img src="http://bbs.sysu.edu.cn/attach/BBS_Help/1361756441"/>
    </p>
    <p>
      恭喜你已经基本学会如何使用逸仙时空啦！你要常上站转转，多多参与哟！<br/>
      逸仙时空站名中，“逸仙”是取自孙中山先生的号，
      “时空”表示无论何时何地我们都相聚在一起。
    </p>
    <label id="is-send-weibo" class="checkbox">
      <input type="checkbox" checked> 发条微博庆祝一下
    </label>
    <hr/>
    <a href="#!tut-2" class="btn">返回上一步</a>
    <a class="btn btn-success" data-submit="finish-tut-success">
      收工，进入 Test版 测试发文</a>
  </div>
</div>
