<div class="cell main-cell">
  <h2>逸仙时空新生指南</h2>
  <div>
    <div class="progress">
      <div class="bar" style="width: 25%;">
      </div>
      <div class="step-progress">
        <span class="active">1. 入住</span>
        <span>2. 发现看版</span>
        <span>3. 关注版面</span>
        <span>4. 参与社区讨论</span>
      </div>
    </div>
    <p>
      欢迎入住逸仙时空！希望您花3分钟时间完成这指南，以便你更好地使用！
      <br/>
      如果你不想继续，<a href="#">点此返回</a>。
    </p>
  </div>
  <div>
    <hr/>
    <h4>设置你的个性资料，让站友们更好地了解你！</h4>
    <p>连接你的社交网络，让站友成为你的粉丝。
      <ul>
        <li>
          <img
             src="http://www.sinaimg.cn/blog/developer/wiki/16x16.png"/>
          <a data-submit="auth-weibo" href="#">新浪微博</a>
          <span id="is_weibo_auth" class="hidden label">已绑定</span></li>
      </ul>
      <label class="checkbox">
        <input id="use-weibo-avatar" type="checkbox" checked> 使用微博头像作为站内头像
      </label>
    </p>
    <h5>你可以继续设置你的资料来丰富你的信息</h5>
    <p>
      <img src="http://argo.sysu.edu.cn/attach/Pictures/1367633623"/>
    </p>
    <p>你可以如上图所示，在顶部的导航条上点击你的ID，修改完善你的个人信息。</p>
    <hr/>
    <a href="#" data-submit="goto-tut2" class="btn btn-success">我知道了，下一步</a>
  </div>
</div>
