<div class="cell main-cell">
  <h2>逸仙时空新生指南</h2>
  <div>
    <div class="progress">
      <div class="bar" style="width: 50%;">
      </div>
      <div class="step-progress">
        <span class="active">1. 入住</span>
        <span class="active">2. 发现看版</span>
        <span>3. 关注版面</span>
        <span>4. 参与到社区</span>
      </div>
    </div>
  </div>
  <hr>
  <div>
    <h5>发现那些在逸仙时空上你喜欢的东西</h5>
    <p>
      点击你感兴趣的关键字，筛选你喜欢的看版。点击看版可以取消关注。
    </p>
    <div class="boardset-tags">
      <p>万能的校区版：<br/>
        <a href="#" data-submit="select-tag" data-para="SYSU_Info">南校区</a>
        <a href="#" data-submit="select-tag" data-para="EastCampus">东校区</a>
        <a href="#" data-submit="select-tag" data-para="SUMS">北校区</a>
        <a href="#" data-submit="select-tag" data-para="ZhuhaiCampus">珠海校区</a>
      </p>
      <p>看看有没有你的学院版：<br/>
        <a href="#" data-submit="select-tag" data-para="Law">法学院</a>
        <a href="#" data-submit="select-tag" data-para="EE">EE</a>
        <a href="#" data-submit="select-tag" data-para="LingNan">岭南学院</a>
        <a href="#" data-submit="select-tag" data-para="CS">CS</a>
        <a href="#" data-submit="select-tag" data-para="SS">SS</a>
        <a href="#" data-submit="select-tag" data-para="Management">管理学院</a>
        <a href="#" data-submit="select-tag" data-para="PE">PE</a>
        <a href="#" data-submit="select-tag" data-para="MC">MC</a>
        <a href="#" data-submit="select-tag" data-para="CE">CE</a>
        <a href="#" data-submit="select-tag" data-para="HS">HS</a>
        <a href="#" data-submit="select-tag" data-para="LS">LS</a>
        <a href="#" data-submit="select-tag" data-para="GS">GS</a>
        <a href="#" data-submit="select-tag" data-para="FLS">FLS</a>
        <a href="#" data-submit="select-tag" data-para="IM">IM</a>
        <a href="#" data-submit="select-tag" data-para="ES">ES</a>
        <a href="#" data-submit="select-tag" data-para="PS">PS</a>
        <a href="#" data-submit="select-tag" data-para="SE">SE</a>
        <a href="#" data-submit="select-tag" data-para="CD">CD</a>
        <a href="#" data-submit="select-tag" data-para="SSA">SSA</a>
      </p>
      <p>
        关注我们的热门看版和推荐看版吧～～ <br/>
        <a href="#" data-submit="select-tag"
           data-para="Joke;Love;Film;News;Say;Sexology;Girls;Food;Travel;TV">
          热门版块</a>
        <a href="#" data-submit="select-tag"
           data-para="Public_Welfare;Freshmen;Recommend;Lecture">推荐版块</a>
      </p>
      <p>
        还有你的兴趣爱好！<br/>
        <a href="#" data-submit="select-tag"
           data-para="Internet;Software;Game;Handware;Problem;Windows;NetShare;Digital">
          科技</a>
        <a href="#" data-submit="select-tag"
           data-para="Programming;Linux;Java">程序员</a>
        <a href="#" data-submit="select-tag" data-para="Pop;Radio;RnR;Jazz;ClassicMusic">音乐</a>
        <a href="#" data-submit="select-tag" data-para="Food;Travel;Style;photography;Digital">衣食住行</a>
        <a href="#" data-submit="select-tag" data-para="Film;Cartoon;TV">影视动漫</a>
        <a href="#" data-submit="select-tag" data-para="marvel;Astrology;IQ;Fantasy;Detective">科幻</a>
        <a href="#" data-submit="select-tag"
           data-para="Chinese_Art;Poem;Myth;Cantonese">传统文化</a>
        <a href="#" data-submit="select-tag" data-para="emprise;Story;Instrument;Reading;SerialStory;Character">读书</a>
        <a href="#" data-submit="select-tag" data-para="ID;Heart;Life;Friend;Memory;Wishes;water;Gather">心情故事</a>
        <a href="#" data-submit="select-tag" data-para="Boys;Girls;Love;Diary;Single">男生女生</a>
        <a href="#" data-submit="select-tag" data-para="Astrology;Science">天文地理</a>
        <a href="#" data-submit="select-tag" data-para="Force;Language;History;Philosophy;Sexology;China">人文科学</a>
        <a href="#" data-submit="select-tag" data-para="Economics;Psychology;Sociology;News">社会科学</a>
        <a href="#" data-submit="select-tag" data-para="Biology;mathematics;Physics">自然科学</a>
        <a href="#" data-submit="select-tag" data-para="Job;Search;PartTime;Official">招聘与兼职</a>
        <a href="#" data-submit="select-tag" data-para="PCMarket;Sale">二手交易信息</a>
      </p>
    </div>
    <h5 id="num-counter"></h5>
    <div id="board-container">
    </div>
    <hr/>
    <a href="#!tut-1" class="btn">返回上一步</a>
    <a href="#" data-submit="goto-tut3" class="btn btn-success">收藏这些看版，下一步</a>    
  </div>
</div>
