{{if $G.authed }}
<div id="topbar-nav" class="pull-right">
  <ul class="markhash nav">
    <li class="markhash-home">
      <a class="top-a" href="#!home">首页</a>
    </li>
    <li class="markhash-section">
      <a class="top-a" data-submit="go-section" href="#">所有版块</a>
    </li>
    <li class="markhash-mail" id="userbox-mail">
      <a class="top-a" href="#!mail">站内信</a>
    </li>
    <li class="dropdown">
      <a href="#" class="top-u dropdown-toggle" data-toggle="dropdown">
        <div class="top-avatar">
          <img src="${url_for_avatar(u.userid)}"/>
          <div class="avatar-content">
            ${u.userid}
            <span class="caret"></span>
          </div>
        </div>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#!profile">设置我的资料</a></li>
        <li><a href="#" data-submit="logout">退出登录</a></li>
      </ul>
    </li>
  </ul>
</div>
{{else}}
<div id="topbar-nav">
  <ul class="nav markhash">
    <li class="markhash-home">
      <a class="top-a" href="#!home">首页</a>
    </li>
    <li class="markhash-section">
      <a class="top-a" data-submit="go-section" href="#">所有版块</a>
    </li>
  </ul>
</div>
{{/if}}
