{{if $G.authed }}
<div id="topbar-nav">
  <ul class="markhash nav pull-left">
    {{if !$G['simple-userbox'] }}
    <li class="markhash-home">
      <a class="top-a" href="#!home">首页</a>
    </li>
    <li class="markhash-fresh">
      <a class="top-a" href="#!fresh">新鲜发言</a>
    </li>
    <li class="markhash-section">
      <a id="go-section" class="top-a"
         data-submit="go-section" href="#">全部看版</a>
    </li>
    {{/if}}
  </ul>
  <ul class="markhash nav pull-right">
    <li class="dropdown">
      <a href="#" class="top-u dropdown-toggle" data-toggle="dropdown">
        <div class="top-avatar">
          <img src="${url_for_avatar(u.userid)}"/>
          ${u.userid}
          <span class="caret"></span>
        </div>
      </a>
      <ul class="dropdown-menu">
        <li><a href="index.html#!profile">设置我的资料</a></li>
        <li><a href="http://bbs.sysu.edu.cn/n/ann.html#!read?reqpath=:BBS_Help/">帮助</a></li>
        <li><a href="#" data-submit="logout">退出登录</a></li>
      </ul>
    </li>
    <li class="markhash-message" id="userbox-message">
      <a class="top-a" href="#!message">消息</a>
    </li>
    <li class="markhash-mail" id="userbox-mail">
      <a class="top-a" href="#!mail">信箱</a>
    </li>

  </ul>
</div>
{{else}}
{{if !$G['simple-userbox'] }}
<div id="topbar-nav">
  <ul class="nav markhash">
    <li class="markhash-home">
      <a class="top-a" href="#!home">首页</a>
    </li>
    <li class="markhash-section">
      <a class="top-a" data-submit="go-section" href="#">全部看版</a>
    </li>
  </ul>
</div>
{{/if}}
{{/if}}
