{{if $G.authed }}
<div id="topbar-nav" class="pull-right">
  <ul class="markhash nav">
    {{if !$G['simple-userbox'] }}
    <li class="markhash-home">
      <a class="top-a" href="#!home">首页</a>
    </li>
    <li class="markhash-section">
      <a class="top-a" data-submit="go-section" href="#">全部看版</a>
    </li>
    <li class="markhash-focus">
      <a class="top-a" href="#!focus">热点关注</a>
    </li>
    <li class="markhash-mail" id="userbox-mail">
      <a class="top-a" href="#!mail">信箱<span class="display-on-newmail">(新)</span></a>
    </li>
    {{/if}}
    <li class="dropdown">
      <a href="#" class="top-u dropdown-toggle" data-toggle="dropdown">
        <div class="top-avatar">
          <img src="${url_for_avatar(u.userid)}"/>
          <div class="avatar-content">
            ${u.userid}
            <span class="caret"></span>
          </div>
        </div>
      </a>
      <ul class="dropdown-menu">
        <li><a href="index.html#!profile">设置我的资料</a></li>
        <li><a href="index.html#!setting">设置电子邮件提醒</a></li>
        <li><a href="http://bbs.sysu.edu.cn/n/ann.html#!read?reqpath=:BBS_Help/">帮助</a></li>
        <li><a href="#" data-submit="logout">退出登录</a></li>
      </ul>
    </li>
  </ul>
</div>
{{else}}
{{if !$G['simple-userbox'] }}
<div id="topbar-nav">
  <ul class="nav markhash">
    <li class="markhash-home">
      <a class="top-a" href="#!home">首页</a>
    </li>
    <li class="markhash-focus">
      <a class="top-a" href="#!focus">关注</a>
    </li>
    <li class="markhash-section">
      <a class="top-a" data-submit="go-section" href="#">探索</a>
    </li>
  </ul>
</div>
{{/if}}
{{/if}}
