{{if authed }}
<div id="userbox" class="widget">
  <div class="clearfix">
    <button type="button" data-submit="logout" class="close">&times;</button>
  </div>
  <div class="widget-padding">
    <div class="avatar">
      <img class="img-rounded" src="${url_for_avatar(u.userid)}"/>
      <div class="avatar-content">
        <div class="big-font">${u.userid}</div>
        <div>${u.username}</div>
      </div>
    </div>
  </div>
  <ul class="nav nav-pills">
    <li><a href="#!"><i class="icon-home"></i></a></li>
    <li id="userbox-mail"><a href="#!mail"><i class="icon-envelope"></i><span class="display-on-newmail">(新!)</span></a></li>
    <li><a href="#!profile"><i class="icon-wrench"></i></a></li>
    <!-- <li><a href="#!profile"><i class="icon-folder-close"></i></a></li> -->
  </ul>
</div>
<div id="userfav">
  <div class="widget">
    <button class="btn-widget" data-submit="refresh_fav"><i data-submit="refresh_fav" class="icon-refresh"></i></button>
    <div class="widget-header">
      <h4>收藏夹</h4>
    </div>
    <div id="favbox"></div>
  </div>
</div>
{{else}}
<div class="widget">
  <div class="widget-header">
    <h4>登录</h4>
  </div>
  <form id="f-login" class="nomargin" data-submit="login">
    <input type="text" tabindex="1"  class="focus input-block-level" name="userid" placeholder="输入你的帐号 ：-） ">
    <input type="password" tabindex="2" class="input-block-level" name="password" placeholder="以及密码...">
    <button type="submit" tabindex="3" class="btn btn-small btn-success">登陆</button> · 
    <a class="small-font" href="http://bbs.sysu.edu.cn/bbsreg">注册</a>
  </form>
</div>
{{/if}}
