{{if authed }}
<div class="navbox">
  <ul class="navlist markhash">
    <li class="markhash-home first-li">
      <a href="#!home"><i class="icon-home"></i>首页</a>
    </li>
    <li>
      <a data-submit="go-next-board" href="#">
        <i class="icon-random"></i>切换看版</a>
    </li>    
  </ul>
  <div id="favbox-outer" class="scrollbar">
    <div id="favbox"></div>
  </div>
  <div class="navbox-footer">
    <small><a href="#" data-submit="refresh_fav">刷新</a></small>
  </div>
</div>
{{else}}
<div class="widget loginbox">
  <div class="widget-header">
    <h4>登录逸仙时空</h4>
  </div>
  <form id="f-login" class="nomargin" data-submit="login">
    <label>帐号</label>
    <input type="text" tabindex="1"  class="focus input-block-level" name="userid" placeholder="输入你的帐号 ：-） ">
    <label>密码</label>
    <input type="password" tabindex="2" class="input-block-level" name="password" placeholder="以及密码...">
    <button type="submit" tabindex="3" class="btn">登录</button>
  </form>
</div>
<div class="widget registerbox">
  <div class="widget-header">
    <h3>没有帐号？</h3>
    <div>
      <p>
        结识同好，发现智慧
      </p>
      <a target="_blank" href="http://bbs.sysu.edu.cn/bbsreg" class="btn btn-success btn-block">一分钟注册</a>
    </div>
  </div>
</div>      
{{/if}}
