<div class="widget">

  <div class="widget-header">
    <a class="pull-right-all" data-submit="go-section" href="#"><small>›› 分区看板</small></a>
  </div>

    <div class="boardsearch">
    <form class="form-inline" onsubmit="return jump_board(this);">
      看版名字搜索: <br>
      <input type="text" class="input-medium search-query" onkeyup="filter_board(this);" onchange="filter_board(this);">
      <div class="group">
      <ul class="secfav-ul clearfix empty">
        <div class="text-center">
        </div>
      </ul>
      </div>
    </form>
  </div>
  
  <div class="dowhat-grouplist">
    {{each(i,g) group}}
    <div class="group">
      <h5>${g.name}</h5>
      <ul>
        {{each(j,b) g.list}}
        <li><a target="_blank" href="${url_for_board(b[0])}">${b[1]}</a></li>
        {{/each}}
      </ul>
    </div>
    {{/each}}
  </div>
  
  
</div>
