{{if fav }}
<div class="userbox-nav">
  <ul class="userbox-nav-inner">
    <li>
      <a action-click="update-fav" href="#"><i class="icon-bookmark"></i> 我收藏的看版</a>
    </li>
    {{each(i, b) fav}}
    <li>
      {{if b.unread }}
      <a href="${url_for_board(b.boardname)}"><i class="icon-circle"></i> ${b.boardname} <span class="badge badge-success">${b.unreadn}</span></a>
      {{else}}
      <a href="${url_for_board(b.boardname)}"><i class="icon-circle-blank"></i> ${b.boardname}</a>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</div>
{{/if}}
