<div>
  <div class="widget loginbox">
    <div class="widget-header">
      <h4>登录逸仙时空</h4>
    </div>
    <form id="f-login" class="nomargin" data-submit="login">
      <label>帐号</label>
      <input type="text" tabindex="1"  class="focus input-block-level" name="userid" placeholder="输入你的帐号 ：-） ">
      <label>密码</label>
      <input type="password" tabindex="2" class="input-block-level" name="password" placeholder="以及密码...">
      <button type="submit" tabindex="3" class="btn btn-success">登录</button>
      &nbsp;&nbsp;<a target="_blank" class="reg-btn" href="/account/register">netid快速注册</a>
    </form>
    <div class="login-nav">
      <a href="http://argo.sysu.edu.cn/account/register">无netid注册</a>
      <a href="http://argo.sysu.edu.cn/index.htm">进入旧版</a>
    </div>
  </div>
</div>
