<button type="button" class="close pull-right"
        data-submit="close_popwindow">×</button>
<div id="pop-title">
  <h3>系统维护期中</h3>
</div>
<div id="pop-content">
  逸仙时空又要进行长达数天以上的系统维护，期间将暂停校外IP发贴功能。
  <br/>
  具体的开始结束时间请查看
  <a href="http://argo.sysu.edu.cn/bbsdoc?board=SYSOP">SYSOP</a> 版。
  在校学生若在校外可以通过学校VPN通道连接发贴，具体参见：<br/>
    &nbsp;&nbsp;a. 信息技术服务帮助台
  <a target="_blank"
     href="http://helpdesk.sysu.edu.cn">http://helpdesk.sysu.edu.cn</a><br/>
    &nbsp;&nbsp;b. 点击 IT服务FAQ<br/>
    &nbsp;&nbsp;c. 点击 VPN隧道 查看相关说明<br/>
        带来的不便请站友们见谅!<br/>
  欢迎关注我们的微信及时留意我们的最新动态。欢迎您提出相关的建议和意见，
  或者疑问。 <br/>
  <img src="http://bbs.sysu.edu.cn/attach/Pictures/1368958186.jpg"/ >
</div>
