<button type="button" class="close pull-right" data-submit="close_popwindow">×</button>    
<div id="pop-title">
  <h3>寄站内信</h3>
</div>
<div id="pop-content">
  <div class="editor">
    <div class="editor-group">
      <div class="input-prepend">
        <span class="add-on">@</span>
        <input data-group="newmail" name="receiver" class="input-xlarge"
               type="text" placeholder="收件人 ..."{{if touserid }} value="${touserid}"{{/if}} />
      </div>
    </div>
    <div class="editor-group">
      <input data-group="newmail" name="title" class="input-block-level" type="text" placeholder="标题 ..." />
    </div>
    <div class="editor-group">
      <textarea data-group="newmail" name="content" rows="18" placeholder="好心情 ：-）" class="input-block-level"></textarea>
    </div>
  </div>
</div>
<div id="pop-bar">
  <div>
    <button data-submit="send_mail" data-group="newmail" class="btn btn-success">寄出</button>
    <!-- <span class="help-inline">Ctrl+Enter快速发表</span> -->
  </div>
</div>
