<button type="button" class="close pull-right" data-submit="close_popwindow">×</button>    
<div id="pop-title">
  <h3>发表文章</h3>
</div>
<div id="pop-content">
  <div class="editor">
    <div class="editor-group">
      <input data-group="newpost" name="title" class="input-block-level" type="text" placeholder="标题 ..." />
    </div>
    <div class="editor-group">
      <textarea data-group="newpost" name="content" rows="18" placeholder="好心情 ：-）" class="input-block-level"></textarea>
    </div>
  </div>
</div>
<div id="pop-bar">
  <div>
    <button data-submit="publish_post" data-group="newpost" class="btn btn-success">发表文章</button>
    <span class="help-inline">Ctrl+Enter快速发表</span>
    <div class="pull-right">附件上传热血开发中……</div>
    <!-- <ul class="pull-right inline-list"> -->
    <!--   <li> -->
    <!--     <button class="btn btn-small btn-v"> -->
    <!--       <i class="item-attach"></i></button> -->
    <!--   </li> -->
    <!--   <li><a href="#">发帖须知</a></li> -->
    <!-- </ul> -->
  </div>
</div>
