<button type="button" class="close pull-right" data-submit="close_popwindow">×</button>    
<div id="pop-title">
  <h3>发表文章</h3>
</div>
<form data-submit="publish_post" id="new-post-form">
  <input type="hidden" name="boardname" value="${boardname}"/>
  <input type="hidden" name="type" value="new"/>
  <div id="pop-content">
    <div class="editor">
      <div class="editor-group">
        <input name="title" class="input-block-level" type="text" placeholder="标题 ..." />
      </div>
      <div class="editor-group">
        <textarea name="content" rows="18" placeholder="好心情 ：-）" class="input-block-level"></textarea>
      </div>
    </div>
  </div>
  <div id="pop-bar">
    <div>
      <button data-group="newpost" class="btn btn-success">发表文章</button>
      <span class="help-inline">Ctrl+Enter快速发表</span>
      <div class="file-uploader pull-right">
        <button data-submit="submit-as-file" data-group="newpost" class="btn btn-mini">作为文件上传</button>
        <input class="file-selector" type="file" name="attach"/>
      </div>
    </div>
    <div id="appender-container"></div>
  </div>
</div>
